.btn {
	display:inline-block;
	width:85px;
	height:37px;
	line-height:37px;
	color:#fff;
	text-align:center;
	font-size:$font-size-base;
	font-weight:bold;
	border:0;
	border-radius:5px;
	background-color:$color-dark;
	vertical-align:middle;
	cursor:pointer;
	transition:all .2s;
	&.btn-grey {
		background-color:$color-gray;
	}
	&.btn-wide {
		width:145px;
		font-size:14px;
	}
	&.btn-green {
		color:$color-base;
		background-color:$color-brand;
	}
	&.btn-small {
		width:55px;
		height:27px;
		line-height:27px;
		font-size:12px;
		background-color:$color-gray;
	}
	&:hover {
		box-shadow:0 1px 2px 1px rgba(0,0,0,.5);
	}
}