.login {
	margin:270px auto;
	width:682px;
}

.login-header {
	font-size:60px;
	text-align:center;
	.login-logo {
		margin-right:10px;
	}
}

.login-form {
	position:relative;
	margin-top:40px;
	padding-top:67px;
	border-top:2px solid $color-brand;
	border-bottom:1px solid $color-border-dark;
	&-box {
		margin-left:121px;
		margin-top:10px;
	}
	&-box:first-child {
		margin-top:0;
	}
	&-submit {
		position:absolute;
		top:67px;
		right:121px;
		width:131px;
		height:84px;
		line-height:84px;
		font-size:15px;
	}
	.label {
		display:inline-block;
		width:53px;
		color:$color-font-base;
		font-weight:bold;
	}
	.input-text {
		width:226px;
	}
	.login-info {
		margin-top:67px;
		height:73px;
		line-height:73px;
		font-weight:bold;
		text-align:center;
		border-top:1px solid $color-border-grey;
	}
}
