$font-stack:"Nanum Gothic", dotum, sans-serif;
$font-size-base:13px;

$color-font-base:#222;
$color-font-grey:#666;
$color-font-point:#b07e44;

$color-brand:#a6ce39;
$color-accent:#0c5f30;
$color-dark:#333;
$color-grey:#666;

$color-border-form:#cbcbcb;
$color-border-dark:#222;
$color-border-grey:#ddd;