.faq {

	&-list {

		&-link {
			display:block;
			padding-left:30px;
			line-height:1.4;
			font-weight:bold;
			background:$color-white url(../images/bg_faq_q.png) no-repeat 10px 12px;
			background-size:13px;
		}

		&-answer {
			display:none;
			padding-left:30px;
			line-height:1.4;
			background:$color-white url(../images/bg_faq_a.png) no-repeat 17px 11px;
			background-size:7px;

			&.on {
				display:block;
			}
		}

	}

	&-item {
		margin-top:5px;

		&:first-child {
			border:0;
		}

	}

}