.job {

	&-item {

		&-part {
			margin:10px 10px 0;
			font-size:11px;

			&-corp {
				position:relative;
				margin-right:5px;
				padding-right:6px;

				&:after {
					@include size(1, 9);
					content:"";
					position:absolute;
					top:3px;
					right:0;
					display:block;
					background:$color-med-gray;
				}
			}

		}

		&-title {
			margin:7px 10px 0;
			font-weight:bold;
			color:$color-accent;
		}

		&-subtitle {
			margin:7px 10px 0;
			font-weight:bold;
		}

		&-date {
			margin:7px 10px 0;
		}

		&-bottom {
			@include clear();
			margin-top:14px;
			padding:8px;
			height:25px;
			background:$color-white-gray;
		}

		&-state {

			&-dday {
				float:left;
				margin-top:2px;
				margin-right:10px;
				color:$color-point;
				font-size:20px;
				font-weight:bold;
				font-style:italic;
				line-height:1;

				&-unit {
					float:left;
					width:24px;
					height:20px;
					text-indent:-9999px;
					background:url(../images/bg_dday.png) no-repeat;
					background-size:100%;
				}
			}

			&-current {
				float:left;
				line-height:25px;
				font-size:12px;
				font-weight:bold;
			}

		}

		&-actions {
			float:right;
			font-size:0;
		}

	}

}

/* job detail */
.apply-view-header {
	margin-bottom:20px;
}
.apply-view-title {
	margin-bottom:10px;
	color:$color-accent;
	font-size:16px;
	font-weight:bold;
}
.apply-view-detail {
	position:relative;
}
.apply-view-item {
	padding:15px 10px;
	border-top:1px solid $color-med-gray;
	overflow:hidden;

	&:first-child {
		border-top:0;
	}

	&-header {
		float:left;
		width:70px;
	}

	&-title {
		font-weight:bold;
	}

	&-subtitle {
		margin:10px 0 7px;
		font-weight:bold;

		&:first-child {
			margin-top:0;
		}
	}

	&-cont {
		float:left;
		width:calc(100% - 70px);
	}
}