.login {
	position:relative;
	margin:45px 22px 0;

	&-input {
		box-sizing:border-box;
		padding:0 10px;
		width:66%;
		height:35px;
		border:1px solid $color-med-gray;
		border-radius:5px;
		font-weight:bold;

		&:first-child {
			margin-bottom:5px;
		}

	}

	&-submit {
		position:absolute;
		top:0;
		right:0;
		width:32%;
		height:75px;
		border-radius:5px;
		background-color:$color-brand;
		border:0;
		font-weight:bold;
	}

	&-info {
		margin-top:20px;
		text-align:center;
	}

}