.popup {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;

	&-title {
		height:44px;
		line-height:44px;
		font-size:20px;
		text-align:center;
		background-color:$color-brand;

		&.black {
			color:#fff;
			background-color:$color-base;
		}
	}

	&-content {
		box-sizing:border-box;
		height:calc(100% - 44px);
		padding:10px;
		overflow:auto;
		background-color:$color-light-gray;
		-webkit-overflow-scrolling:touch;

		&-box {
			padding:20px 15px;
		}

	}

	&-close {
		@include size(44);
		position:absolute;
		top:0;
		right:0;
		background:url(../images/icon_close.png) no-repeat 50% 50%;
		background-size:15px;
		text-indent:-9999px;
		border:0;

		&.white {
			background-image:url(../images/icon_close_white.png);
		}
	}

	&-infomsg {
		margin-top:30px;
		line-height:1.6;
		text-align:center;

		&-name {
			display:block;
			margin-bottom:10px;
			font-size:15px;
			font-weight:bold;
		}
	}

	&-detail {
		margin-top:45px;
		border-top:1px solid $color-base;
		border-bottom:1px solid $color-base;

		&-item {
			padding:25px 10px;
			border-top:1px solid $color-med-gray;

			&:first-child {
				border-top:0;
			}

		}

		&-msg {
			margin-top:5px;
			padding-left:30px;
			text-indent:-30px;
			line-height:1.2;

			&:first-child {
				margin-top:0;
			}

			.black {
				margin-right:5px;
			}
		}

	}

}

.terms{

	&-page{
		padding:0;
		padding-bottom:20px;
		font-size:12px;
		line-height:1.8;

	}

	&-heading{
		font-size:12px;
	}

	&-list{
		padding:0 0 0 15px;
	}

	&-num{
		margin:0 0 0 -15px;
	}

}

// pr8.2
.privacy{

	&-page{
		padding:0;
		padding-bottom:20px;
		font-size:12px;
		line-height:1.8;
	}

	&-heading{

		&-1{
			font-size:12px;
		}

		&-2{
			margin:10px 0 0 10px;
			font-size:12px;
			font-weight:bold;
		}

	}

	&-paragraph{
		margin:10px 0 0 10px;

		&.first {
			margin:0;
		}
	}

	&-list{
		margin:5px 0 0 10px;
		padding:0 0 0 7px;
	}

	&-num{
		margin:0 0 0 -7px;
	}

	&-table {
		margin:10px auto 0;
	}

}
