$font-stack:"Nanum Gothic", dotum, sans-serif;
$font-size-base:12px;

$color-brand:#a6ce39;
$color-accent:#008038;

$color-base:#222;
$color-point:#b07e44;

$color-dark:#333;
$color-dark-gray:#666;
$color-gray:#acacac;
$color-med-gray:#cbcbcb;
$color-light-gray:#eee;
$color-white-gray:#f9f9f9;
$color-white:#fff;