.apply-list {
	margin-top:20px;
	padding-top:30px;
	border-top:1px solid $color-med-gray;
}
.apply-item {
	position:relative;
	padding:28px 27px;
	min-height:158px;
	transition:background .1s;

	&-state {
		float:left;
		padding-top:10px;
		width:140px;
		border-top:1px solid $color-gray;
		font-size:22px;
		font-weight:bold;

		&-no {
			float:left;
			padding-top:20px;
			width:140px;
			border-top:1px solid $color-gray;
			color:$color-dark-gray;
			font-size:22px;
		}

		&-date {
			display:block;
			margin-bottom:9px;
			color:$color-point;
			font-family:Georgia, serif;
			font-size:50px;
			font-style:italic;
			font-weight:bold;
		}
	}

	&-overview {
		float:left;
		margin-left:50px;
	}

	&-part {
		font-size:16px;
		color:$color-dark-gray;
	}

	&-title {
		margin-top:3px;
		font-size:30px;
		font-weight:bold;
	}

	&-detail {
		margin-top:8px;
		font-size:15px;
		color:$color-dark-gray;
	}

	&-date {
		margin-top:5px;
		color:$color-dark-gray;
	}

	&:hover {
		background-color:$color-white-gray;
	}
}

.apply-view-header {
	margin-bottom:30px;
}
.apply-view-title {
	margin-bottom:25px;
	font-size:24px;
	font-weight:bold;
}
.apply-view-detail {
	position:relative;
}
.apply-view-item {
	padding:25px;
	border-top:1px solid $color-light-gray;
	overflow:hidden;

	&:first-child {
		border-top:0;
	}

	&-header {
		float:left;
		width:240px;
	}

	&-title {
		font-size:14px;
		font-weight:bold;
	}

	&-subtitle {
		margin:20px 0 10px;
		font-size:14px;
		font-weight:bold;

		&:first-child {
			margin-top:0;
		}
	}

	&-cont {
		float:left;
	}
}

.step {
	margin-bottom:100px;
}
.step-item {
	float:left;
	padding-left:31px;
	background:url(../images/bg_step_arrow.png) no-repeat 13px 50%;

	&:first-child {
		padding-left:0;
		background:none;
	}

	&-state {
		@include size(171);
		background:url(../images/sprite_step.png) no-repeat;
		font-size:16px;
		font-weight:bold;
		text-align:center;

		&.on {
			background-position:-171px 0;
		}

		&.on .step-item-current {
			display:block;
		}
	}

	&-text {
		margin-bottom:15px;
		padding-top:38px;
		font-family:Georgia, serif;
		font-size:21px;
		font-weight:normal;
		font-style:italic;
	}

	&-num {
		font-size:35px;
	}

	&-current {
		display:none;
		margin:15px auto 0;
		@include size(17, 1);
		background-color:$color-base;
		text-indent:-9999px;
	}
}

.input-introduce {
	padding:0 15px 30px;
	border-top:2px solid $color-base;
	border-bottom:1px solid $color-light-gray;
}

.introduce {
	margin-top:30px;
	text-align:left;

	&-title {
		margin-bottom:10px;
		color:$color-base;
	}
}