.skip-nav-link {
	position:absolute;
	top:-9999px;
	left:0;
	@include size-mid(100%, 40);
	font-size:18px;
	font-weight:bold;
	color:$color-white;
	text-align:center;
	background-color:$color-accent;
	&:focus {
		top:0;
	}
}

.pagination {
	margin-top:40px;
	text-align:center;

	.page-item {
		display:inline-block;
		box-sizing:border-box;
		@include size(32);
		line-height:30px;
		text-align:center;
		font-size:12px;
		border-radius:5px;
	}

	.page-item:hover {
		background-color:$color-light-gray;
	}

	.page-first,
	.page-prev,
	.page-next,
	.page-last {
		border:1px solid $color-light-gray;
		text-indent:-9999px;
		background:url(../images/sprite_pagination.png) no-repeat;
	}

	.page-prev {
		background-position:-30px 0;
	}

	.page-next {
		background-position:-60px 0;
	}

	.page-last {
		background-position:-90px 0;
	}

	.page-item.current {
		background-color:$color-brand;
		font-weight:bold;
	}
}

.show-calendar {
	margin:0;
	padding:0;
	@include size(15, 16);
	background:url(../images/icon_cal.png) no-repeat;
	border:0;
	text-indent:-9999px;
	vertical-align:middle;
	cursor:pointer;
}

.toggle-box {

	&.first,
	&:first-child {
		border-top:2px solid $color-dark;
	}

	&-title {
		position:relative;
		display:block;
		@include size-mid(a, 57);
		padding-left:15px;
		font-size:16px;
		font-weight:bold;
		border-bottom:1px solid $color-light-gray;
		background-color:$color-white-gray;
	}

	&-action {
		@include size(100%, 100%);
		position:absolute;
		top:0;
		left:0;
		margin:0;
		padding:0;
		text-indent:-9999px;
		border:0;
		background:transparent url(../images/sprite_arrow.png) no-repeat 100% 27px;
		cursor:pointer;

		&.on {
			background-position:100% -70px;
		}
	}

	&-content {
		display:none;
		border-bottom:1px solid $color-light-gray;

		&.on {
			display:block;
		}
	}
}

.terms {
	padding:25px 15px;

	&-scroll {
		@extend .terms;
		overflow-x:hidden;
		overflow-y:auto;
		height: 160px;
	}
}

.list {
	&-item {
		position:relative;
		margin-top:10px;
		padding-left:10px;
		line-height:1.2;

		&:first-child {
			margin-top:0;
		}

		&:after {
			content:"";
			display:block;
			position:absolute;
			top:6px;
			left:0;
			@include size(3);
			background-color:$color-brand;
		}
	}
}