.form-wrap {
	display:block;
	float:left;
	margin-right:10px;
	padding:7px;
	@include size(100%, a);
	border:1px solid $color-med-gray;
	border-radius:5px;
	vertical-align:middle;
	box-sizing:border-box;

	&-nogap {
		@extend .form-wrap;
		margin-right:0;
	}
}

.input-text,
.select {
	padding:0;
	@include size(100%, 21);
	border:0;
	color:$color-dark-gray;
}

.input-search {
	@extend .input-text;
	@include size(90%, a);

	&-small {
		@extend .input-text;
		@include size(70%, a);
	}

	&-normal {
		@extend .input-text;
		@include size(80%, a);
	}

	&-half {
		@extend .input-text;
		@include size(90%, a);
	}

	&-btn {
		float:right;
		@include size(16);
		margin-top:3px;
		text-indent:-9999px;
		background:transparent url(../images/icon_search.png) no-repeat 50% 50%;
		border:0;
	}
}

.textarea {
	padding:0;
	border:0;
	@include size(a, 176);
	color:$color-dark-gray;
}

.width {
	&-small {
		@include size(77, a);
	}

	&-normal {
		@include size(116, a);
	}

	&-half {
		@include size(50%, a);
	}
}

.radio {
	&-wrap {
		position:relative;
		float:left;
		margin-right:10px;
	}

	&-input {
		position:absolute;
		top:4px;
		left:3px;

		&:checked + .radio-label:before {
			content:"";
			position:absolute;
			display:block;
			z-index:1;
			top:6px;
			left:6px;
			@include size(8);
			border-radius:100%;
			background-color:$color-dark;
		}
	}

	&-label {
		display:inline-block;
		margin-right:25px;
		padding-left:30px;
		line-height:20px;
		color:$color-dark-gray;
		vertical-align:middle;

		&:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			display:block;
			@include size(18);
			border:1px solid $color-med-gray;
			border-radius:100%;
			background-color:#fff;
		}
	}
}

.check {
	&-wrap {
		float:left;
		margin-right:10px;
		position:relative;
	}

	&-input {
		position:absolute;
		top:4px;
		left:3px;

		&:checked + .check-label:before {
			content:"";
			position:absolute;
			display:block;
			z-index:1;
			top:6px;
			left:5px;
			@include size(10, 8);
			background:url(../images/icon_checked.png) no-repeat 50% 50%;
		}
	}
	&-label {
		display:inline-block;
		margin-right:25px;
		padding-left:30px;
		line-height:20px;
		color:$color-dark-gray;
		vertical-align:middle;

		&:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			display:block;
			@include size(18);
			border:1px solid $color-med-gray;
			border-radius:5px;
			background-color:#fff;
		}
	}
}

.form {
	&-div {
		float:left;
		@include size-mid(10, 37);
		text-align:center;

		&-at {
			@include size(20, a);
		}
	}

	&-inline-msg {
		float:left;
		margin-top:10px;
		margin-right:10px;
	}

	&-inline-wrap {
		float:left;
		margin-top:9px;
	}

	&-block-msg {
		margin-top:10px;
	}
}

.no-gap {
	margin-right:0;
}
