.form-wrap {
	display:inline-block;
	padding:7px;
	width:100%;
	border:1px solid $color-med-gray;
	border-radius:5px;
	vertical-align:middle;
	box-sizing:border-box;
}

.input-text,
.select {
	padding:0;
	width:100%;
	height:21px;
	border:0;
	color:$color-dark-gray;
}

.textarea {
	padding:0;
	border:0;
	height:176px;
	color:$color-dark-gray;
}

.width {
	&-small {
		width:75px;
	}
	&-normal {
		width:120px;
	}
	&-half {
		width:50%;
	}
}

.radio {
	&-wrap {
		position:relative;
	}
	&-input {
		position:absolute;
		top:4px;
		left:3px;
		&:checked + .radio-label:before {
			content:"";
			position:absolute;
			display:block;
			z-index:1;
			top:6px;
			left:6px;
			width:8px;
			height:8px;
			border-radius:100%;
			background-color:$color-dark;
		}
	}
	&-label {
		display:inline-block;
		margin-right:25px;
		padding-left:30px;
		line-height:20px;
		color:$color-dark-gray;
		vertical-align:middle;
		&:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:18px;
			height:18px;
			border:1px solid $color-med-gray;
			border-radius:100%;
			background-color:#fff;
		}
	}
}

.check {
	&-wrap {
		position:relative;
	}
	&-input {
		position:absolute;
		top:4px;
		left:3px;
		&:checked + .check-label:before {
			content:"";
			position:absolute;
			display:block;
			z-index:1;
			top:6px;
			left:5px;
			width:10px;
			height:8px;
			background:url(../images/icon_checked.png) no-repeat 50% 50%;
		}
	}
	&-label {
		display:inline-block;
		margin-right:25px;
		padding-left:30px;
		line-height:20px;
		color:$color-dark-gray;
		vertical-align:middle;
		&:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:18px;
			height:18px;
			border:1px solid $color-med-gray;
			border-radius:5px;
			background-color:#fff;
		}
	}
}


