.wrapper {
	position:relative;
	margin:0 auto;
	@include size(980, a);
}

.clear:after {
	content:"";
	display:block;
	clear:both;
}

.header {
	@include size(a, 81);

	.wrapper {
		position:static;
	}

	.logo {
		float:left;
		margin-top:25px;
	}

	.logo-img {
		@include size(101, a);
	}

	&-util {
		float:right;
		margin-top:25px;

		&-login,
		&-mypage {
			float:left;
			padding-top:26px;
			font-size:10px;
			font-weight:bold;
			text-align:center;
		}

		&-login {
			margin-right:24px;
			@include size(30, a);
			background:url(../images/icon_lock.png) no-repeat 50% 0;
		}

		&-mypage {
			@include size(50, a);
			background:url(../images/icon_mypage.png) no-repeat 50% 0;
		}
	}
}

.gnb {
	float:left;
	margin-left:125px;
	padding-top:43px;

	&-item {
		float:left;
	}

	&-main-link {
		display:block;
		padding:0 25px;
		font-size:16px;
		font-weight:bold;

		&:focus,
		&:hover,
		&.on {
			color:$color-accent;
			border-bottom-color:$color-accent;
		}
	}

	&-main-text {
		display:block;
		@include size(a, 33);
		border-bottom:5px solid transparent;
	}

	&-main-link {
		&:focus .gnb-main-text,
		&:hover .gnb-main-text,
		&.on .gnb-main-text {
			color:$color-accent;
			border-bottom-color:$color-accent;
		}
	}

	&-sub-wrap {
		display:none;
		position:absolute;
		top:81px;
		left:0;
		@include size(100%, 150);
		border-top:1px solid $color-light-gray;
		border-bottom:5px solid $color-brand;
		background-color:#fff;
		z-index:10;
	}

	&-main-link:focus + .gnb-sub-wrap,
	&-main-link:hover + .gnb-sub-wrap,
	&-sub-wrap:hover {
		display:block;
	}

	&-sub-copy {
		position:absolute;
		top:30px;
		left:50%;
		margin-left:-495px;
		font-size:22px;
		color:$color-dark;
	}

	&-sub {
		margin:0 auto;
		padding-left:225px;
		padding-top:38px;
		@include size(700, a);

		&-item {
			float:left;
			margin-left:70px;
			font-size:14px;
			font-weight:bold;
		}

		&-item:first-child {
			margin-left:0;
		}

		&-link {
			display:block;
			padding-top:65px;
			padding-bottom:3px;
		}

		&-link:focus,
		&-link:hover,
		&-link.on {
			color:$color-accent;
			border-bottom:1px solid $color-accent;
		}
	}
}

.main {
	&-header {
		position:relative;
		padding-top:56px;
		min-width:980px;
		@include size(a, 160);
		background-color:$color-dark-gray;

		&-title {
			float:left;
			font-size:46px;
			color:$color-white;
		}

		&-copy {
			clear:left;
			float:left;
			margin-top:10px;
			font-size:16px;
			color:$color-white;
		}

		&-decor {
			position:absolute;
			bottom:0;
			left:0;
			@include size(100%, 45);
			min-width:980px;
		}

		&-svg {
			fill:$color-white;
		}

		.breadcrumb {
			position:absolute;
			top:0;
			right:0;
			font-size:11px;
			color:$color-white;

			&-link {
				color:$color-white;
			}
		}
	}

	.account-header {
		background:url(../images/bg_main_header01.jpg) no-repeat 50% 0;
		background-size:cover;
	}

	.apply-header {
		//background:url(../images/bg_main_header02.jpg) no-repeat 50% 0;
		background-size:cover;
	}

	.notice-header {
		//background:url(../images/bg_main_header02.jpg) no-repeat 50% 0;
		background-size:cover;
	}

	.mypage-header {
		//background:url(../images/bg_main_header03.jpg) no-repeat 50% 0;
		background-size:cover;
	}

	&-content {
		padding-top:80px;
		padding-bottom:50px;
		min-height:450px;
	}

	&-actions {
		padding:46px 0;
		border-top:1px solid $color-light-gray;
		background-color:$color-white-gray;
		text-align:center;
	}
}

.content-header {
	margin-bottom:50px;

	.content-title {
		float:left;
		font-size:46px;
	}

	.breadcrumb {
		float:right;
		font-size:11px;
	}
}

.row {
	position:relative;
	padding-bottom:80px;

	&-title {
		position:relative;
		margin-bottom:50px;
		padding-top:20px;
		font-size:24px;

		&:after {
			@include size(19, 3);
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			background-color:$color-brand;
		}
	}

	&-no-bottom {
		@extend .row;
		padding-bottom:0;
	}

	&-msg {
		position:absolute;
		top:0;
		right:0;
		font-size:12px;
		color:$color-dark-gray;
	}

	&-header {
		margin-bottom:10px;
		font-size:18px;
	}

	&-actions {
		float:right;
		margin-top:10px;
	}
}

.footer {
	padding-top:30px;
	height:66px;
	background-color:$color-dark;

	&-links {
		float:left;

		&-item {
			padding:0 8px;
			line-height:1;
			border-left:1px solid $color-dark-gray;
			float:left;

			&:first-child {
				padding-left:0;
				border-left:0;
			}
		}
	}

	&-link {
		font-size:11px;
		color:$color-gray;
	}

	&-family {
		float:right;

		&-select {
			float:left;
			margin-right:5px;
			@include size(143, 26);
			color:$color-gray;
			border:1px solid $color-dark-gray;
			background-color:transparent;
		}

		&-btn {
			float:left;
			@include size(45, 26);
			color:$color-gray;
			border:1px solid $color-dark-gray;
			background-color:transparent;
			cursor:pointer;
		}
	}

	&-wamark {
		float:right;
		margin-top:-7px;
		margin-right:14px;
	}

	&-copy {
		clear:left;
		float:left;
		margin-top:5px;
		font-size:10px;
		color:$color-gray;
	}
}