.popup {
	position:absolute;
	top:10%;
	left:50%;
	padding-bottom:20px;
	margin-left:-221px;
	width:440px;
	border:2px solid $color-dark;
	background-color:#fff;
	box-shadow:0 2px 10px rgba(0,0,0,.7);
	z-index:100;
	&.popup-wide {
		margin-left:-306px;
		width:610px;
	}
	&-title {
		padding-left:20px;
		height:54px;
		line-height:54px;
		font-size:18px;
		color:#fff;
		background-color:$color-dark;
	}
	&-content {
		margin:20px;
		height:600px;
		overflow:auto;
	}
	&-actions {
		text-align:center;
	}
	&-close {
		position:absolute;
		top:18px;
		right:18px;
		width:15px;
		height:15px;
		background:url(../images/icon_close.png) no-repeat;
		text-indent:-9999px;
	}
}