.blind {
	position:absolute;
	width:0;
	height:0;
	top:-9999px;
}
.em {
	font-style:normal;
	font-weight:bold;
	color:$color-point;
}

.strong {
	color:$color-accent;
	font-weight:bold;
}

.black {
	color:$color-base;
}

.white {
	color:#fff;
}

.check-length {
	clear:both;
	padding-top:10px;
	text-align:right;
	font-weight:bold;
}

#sms_frame {
	position:absolute;
}