/* static common */
.static {
	&-title {
		position:relative;
		margin-bottom:77px;
		line-height:1.6;
		font-size:42px;
		font-weight:bold;
		text-align:center;

		&:after {
			@include size(50, 1);
			content:"";
			position:absolute;
			bottom:-38px;
			left:50%;
			margin-left:-25px;
			display:block;
			background-color:#000;
		}

		&-quo {
			font-size:60px;
			line-height:1;
			vertical-align:5px;
		}
	}

	&-info {
		margin-bottom:72px;
		text-align:center;
		line-height:2.1;
		font-size:16px;
	}

	&-img {
		text-align:center;
	}
}

// pr4.3
.hrdb-process {
	&-bg {
		@include size(901, 378);
		@include center();
		position:relative;
		background:url(../images/bg_hrdb.png) no-repeat;
	}

	&-title,
	&-item01,
	&-item02,
	&-item03,
	&-item04 {
		position:absolute;
		font-size:17px;
		font-weight:bold;
		line-height:1.4;
		text-align:center;
	}

	&-title {
		top:87px;
		left:406px;
		color:$color-accent;
		font-size:18px;
	}

	&-item01 {
		top:334px;
		left:249px;
		color:$color-white;
	}

	&-item02 {
		top:246px;
		left:53px;
		color:$color-base;
	}

	&-item03 {
		top:334px;
		left:512px;
		color:$color-white;
	}

	&-item04 {
		top:246px;
		left:785px;
		color:$color-base;
	}
}

.hrdb-list {
	margin-top:22px;
	margin-left:195px;
}

// pr4.4
.order-list {
	@include clear();

	&-item01,
	&-item02,
	&-item03,
	&-item04,
	&-item05 {
		@include size(171, 57);
		float:left;
		padding-top:114px;
		padding-left:31px;
		background:url(../images/sprite_process.png) no-repeat;
		font-size:15px;
		font-weight:bold;
		text-align:center;
	}

	&-item01 {
		padding-left:0;
	}

	&-item02 {
		background-position:-171px 0;
	}

	&-item03 {
		background-position:-373px 0;
	}

	&-item04 {
		background-position:-576px 0;
	}

	&-item05 {
		background-position:-778px 0;
	}

}

.process {
	margin-top:60px;
	border-top:2px solid $color-base;

	&-step {
		border-bottom:1px solid $color-light-gray;
		overflow:hidden;
	}

	&-title {
		float:left;
		margin:46px 0;
		padding-left:33px;
		width:231px;
		font-size:24px;
		line-height:1;

		&-num {
			margin-right:18px;
			line-height:1;
			color:$color-point;
			font-size:30px;
			font-family:Georgia, serif;
			font-style:italic;
		}
	}

	&-list01,
	&-list02,
	&-list03,
	&-list04,
	&-list05 {
		float:left;
		width:716px;
	}

	&-list01 {
		margin-top:54px;
	}

	&-list02 {
		margin-top:54px;
	}

	&-list03 {
		margin-top:27px;
	}

	&-list04 {
		margin-top:54px;
	}

	&-list05 {
		margin-top:54px;
	}

}

// pr5.1
.hope {
	position:relative;
	margin:100px auto 130px;
	width:777px;
	height:325px;
	background:url(../images/bg_hope.png) no-repeat 50% 0;

	&-title {
		position:absolute;
		top:140px;
		left:344px;
		font-size:36px;
		font-weight:900;
		color:$color-accent;
	}

	&-item {

		&-title01,
		&-title02,
		&-title03,
		&-title04 {
			position:absolute;
			font-size:17px;
			font-weight:bold;
			text-align:center;
		}

		&-title01 {
			top:80px;
			left:280px;
		}

		&-title02 {
			top:65px;
			left:449px;
		}

		&-title03 {
			top:230px;
			left:274px;
		}

		&-title04 {
			top:235px;
			left:451px;
		}

		&-cont01,
		&-cont02,
		&-cont03,
		&-cont04 {
			position:absolute;
			color:$color-dark-gray;
			line-height:1.6;
		}

		&-cont01 {
			top:17px;
			left:0;
		}

		&-cont02 {
			top:17px;
			left:600px;
		}

		&-cont03 {
			top:186px;
			left:0;
		}

		&-cont04 {
			top:186px;
			left:600px;
		}

		&-subtitle {
			margin-bottom:3px;
			font-size:20px;
			font-weight:bold;
			color:$color-base;
		}

	}

}

.leader {
	margin:100px auto 0;
	width:777px;

	&-initial {
		@include clear();
		@include center();
		margin-bottom:100px;
		height:148px;
		padding-left:12px;
		background:url(../images/bg_leader.png) no-repeat 50% 0;

		&-item {
			float:left;
			margin-top:40px;
			width:126px;
			text-align:center;
			font-size:14px;
			font-weight:bold;
		}

		&-text {
			font-size:40px;
			font-weight:bold;
		}
	}

	&-list {
		@include clear();

	}

	&-item {
		float:left;
		margin-left:51px;
		width:225px;
		height:185px;

		&.first {
			margin-left:0;
		}

		&-title {
			margin-bottom:3px;
			font-size:20px;
			font-weight:bold;
			color:$color-base;
		}

		&-cont {
			color:$color-dark-gray;
			line-height:1.6;
		}

	}

}

// pr5.2
.policy {
	&-title {
		margin-top:100px;
		font-size:34px;
		text-align:center;
	}

	&-text {
		margin:15px 0 35px;
		line-height:1.6;
		font-size:16px;
		text-align:center;
	}
}

.policy-vision {
	@include size(854, 234);
	@include center();
	padding-left:30px;
	background:url(../images/bg_policy_vision.png) no-repeat;

	&-item {
		float:left;
		margin-top:97px;
		width:207px;
		text-align:center;
		color:$color-accent;
		font-size:16px;
		font-weight:bold;
	}
}

.policy-th,
.policy-td {
	border-left:1px solid $color-light-gray;

	&:first-child {
		border-left:0;
	}

	&.th-border {
		border-left:1px solid $color-light-gray;
	}
}

.policy-th {
	font-size:16px;
}

.policy-td-em {
	font-size:15px;
	font-weight:bold;
	color:$color-point;
	line-height:1;
}

// .policy-td-job {
// 	padding-top:20px;
// 	vertical-align:top;
// }

// .policy-job-title01 {
// 	margin-bottom:45px;
// }

// .policy-job-title02 {
// 	margin-bottom:10px;
// }

// .policy-job-title04 {
// 	margin-bottom:20px;
// }

// .policy-job-title05 {
// 	margin-bottom:20px;
// }

 .policy-td-list {
 	display:inline-block;
 	margin:10px 0;
 	text-align:left;
 }

.policy-benefit {
	@include clear();
	margin-top:40px;
	border-top:2px solid $color-base;

	&-item {
		@include size(50%, 132);
		@include clear();
		float:left;
		border-bottom:1px solid $color-light-gray;

		&.wide {
			width:100%;
		}
	}

	&-title01,
	&-title02,
	&-title03,
	&-title04,
	&-title05,
	&-title06,
	&-title07 {
		float:left;
		padding-top:43px;
		padding-left:94px;
		width:120px;
		font-size:16px;
		font-weight:bold;
		background:url(../images/sprite_policy_benefit.png) no-repeat;
	}

	&-title01 {
		background-position:30px 46px;
	}
	&-title02 {
		background-position:30px -91px;
	}
	&-title03 {
		background-position:30px -227px;
	}
	&-title04 {
		background-position:30px -364px;
	}
	&-title05 {
		background-position:30px -502px;
	}
	&-title06 {
		background-position:30px -639px;
	}
	&-title07 {
		background-position:30px -767px;
	}

	&-title-en {
		display:block;
		margin-bottom:5px;
		color:$color-point;
		font-family:Georgia, serif;
		font-size:16px;
		font-style:italic;
	}

	&-list01,
	&-list02,
	&-list03,
	&-list04,
	&-list05,
	&-list06,
	&-list07 {
		float:left;
		width:276px;
	}

	&-list01 {
		margin-top:46px;
	}
	&-list02 {
		margin-top:46px;
	}
	&-list03 {
		margin-top:32px;
	}
	&-list04 {
		margin-top:17px;

		.list-item {
			float:left;
			margin-top:10px;
			width:125px;
		}

		.full-width {
			width:auto;
		}
	}
	&-list05 {
		margin-top:32px;
	}
	&-list06 {
		margin-top:46px;
	}
	&-list07 {
		margin-top:32px;
		width:570px;

		.list-item {
			float:left;
			margin-top:10px;
			width:145px;
		}
	}
}

// pr5.3
.hr-dev-list {
	@include center();
	@include size(486, 466);
	position:relative;
	background:url(../images/bg_hr_dev.png) no-repeat;

	&-title {
		position:absolute;
		top:255px;
		left:183px;
		color:$color-accent;
		font-size:20px;
		font-weight:900;
	}

	&-item01,
	&-item02,
	&-item03 {
		position:absolute;
		font-size:15px;
		font-weight:bold;
		text-align:center;
	}

	&-item01 {
		top:99px;
		left:203px;
	}

	&-item02 {
		top:305px;
		left:82px;
	}

	&-item03 {
		top:305px;
		left:330px;
	}

	&-num01,
	&-num02,
	&-num03 {
		position:absolute;
		line-height:1;
		color:#fff;
		font-size:36px;
		font-weight:900;
	}

	&-num01 {
		top:-87px;
		left:17px;
	}

	&-num02 {
		top:-3px;
		left:-71px;
	}

	&-num03 {
		top:-3px;
		left:103px;
	}

}

.hr-dev {

	&-detail {
		margin-top:80px;

		&-item {
			@include clear();
			margin-top:30px;
			border-top:2px solid $color-base;
			border-bottom:1px solid $color-light-gray;

			&:first-child {
				margin-top:0;
			}
		}

		&-title01,
		&-title02,
		&-title03 {
			float:left;
			width:267px;
			text-align:center;
			font-size:24px;
			font-weight:bold;
		}

		&-title01 {
			margin-top:70px;
		}

		&-title02 {
			margin-top:25px;
		}

		&-title03 {
			margin-top:25px;
		}

		&-num {
			margin-bottom:4px;
			color:$color-point;
			font-family:Georgia, serif;
			font-size:30px;
			font-style:italic;
		}

		&-list {

			.list-item {
				float:left;
				margin-top:0;
				margin-right:50px;
			}

		}

	}

	&-info {
		@include size-mid(713, 66);
		float:left;
		line-height:66px;
		font-size:16px;
		font-weight:bold;
		border-bottom:1px solid $color-light-gray;
	}

	&-cont {
		float:left;
		padding:25px 0;
		width:713px;

		&-item {
			float:left;
			margin-left:30px;

			&:first-child {
				margin-left:0;
			}
		}

		&-title {
			margin-bottom:10px;
			font-weight:bold;
		}

	}

}

// pr6.1
.jobinfo {
	position:relative;

	&-title01,
	&-title02,
	&-title03,
	&-title04,
	&-title05,
	&-title06 {
		@include size(163, 109);
		position:absolute;
		top:356px;
		z-index:10;
	}

	&-title01 {
		left:0;
		width:165px;
	}

	&-title02 {
		left:165px;
	}

	&-title03 {
		left:328px;
	}

	&-title04 {
		left:491px;
	}

	&-title05 {
		left:654px;
	}

	&-title06 {
		left:817px;
	}


	&-tab-link01,
	&-tab-link02,
	&-tab-link03,
	&-tab-link04,
	&-tab-link05,
	&-tab-link06 {
		@include size(100%, 100%);
		display:block;
		box-sizing:border-box;
		padding-top:64px;
		text-align:center;
		color:#fff;
		font-weight:bold;
		background:url(../images/sprite_jobinfo_tab.png) no-repeat;
	}

	&-tab-link01 {
		background-position:0 0;
	}

	&-tab-link02 {
		background-position:-164px 0;
	}

	&-tab-link03 {
		background-position:-327px 0;
	}

	&-tab-link04 {
		background-position:-489px 0;
	}

	&-tab-link05 {
		background-position:-652px 0;
	}

	&-tab-link06 {
		background-position:-815px 0;
	}

	&-tab-link01.on {
		color:$color-base;
		background-position:0px -111px;
	}

	&-tab-link02.on {
		color:$color-base;
		background-position:-164px -111px;
	}

	&-tab-link03.on {
		color:$color-base;
		background-position:-327px -111px;
	}

	&-tab-link04.on {
		color:$color-base;
		background-position:-489px -111px;
	}

	&-tab-link05.on {
		color:$color-base;
		background-position:-652px -111px;
	}

	&-tab-link06.on {
		color:$color-base;
		background-position:-815px -111px;
	}

	&-cont01,
	&-cont02,
	&-cont03,
	&-cont04,
	&-cont05,
	&-cont06 {
		display:none;
		padding-top:525px;

		&.on {
			display:block;
		}
	}

	&-cont01 {
		background:url(../images/bg_jobinfo01.jpg) no-repeat;
	}

	&-cont02 {
		background:url(../images/bg_jobinfo02.jpg) no-repeat;
	}

	&-cont03 {
		background:url(../images/bg_jobinfo03.jpg) no-repeat;
	}

	&-cont04 {
		background:url(../images/bg_jobinfo04.jpg) no-repeat;
	}

	&-cont05 {
		background:url(../images/bg_jobinfo05.jpg) no-repeat;
	}

	&-cont06 {
		background:url(../images/bg_jobinfo06.jpg) no-repeat;
	}

	&-cont-item {
		@include clear();
		margin-top:50px;

		&:first-child {
			margin-top:0;
		}
	}

	&-cont-title {
		float:left;
		padding-top:15px;
		width:130px;
		border-top:1px solid $color-gray;
		color:$color-accent;
		font-size:18px;
		font-weight:bold;
		letter-spacing:-1px;

		&-small {
			display:block;
			font-size:14px;
		}
	}

	&-cont-detail {
		float:right;
		margin-top:-5px;
		width:815px;
		line-height:1.7;
		color:$color-dark-gray;
	}

}

// pr6.2
.knowhow {
	position:relative;

	&-title01,
	&-title02,
	&-title03 {
		@include size(320, 115);
		position:absolute;
		top:0;
		z-index:10;
	}

	&-title01 {
		left:0;
	}

	&-title02 {
		left:331px;
	}

	&-title03 {
		left:661px;
	}

	&-tab-link01,
	&-tab-link02,
	&-tab-link03 {
		@include size(100%, 100%);
		display:block;
		box-sizing:border-box;
		padding-top:35px;
		text-align:center;
		color:#fff;
		font-size:22px;
		font-weight:bold;
		background:url(../images/sprite_knowhow_tab.png) no-repeat;
	}

	&-tab-link01 {
		background-position:0 0;
	}

	&-tab-link02 {
		background-position:-331px 0;
	}

	&-tab-link03 {
		background-position:-661px 0;
	}

	&-tab-link01.on,
	&-tab-link02.on,
	&-tab-link03.on {
		color:$color-base;
		background-position:-991px 0;
	}

	&-cont01,
	&-cont02,
	&-cont03 {
		position:absolute;
		top:-9999px;
		padding-top:145px;

		&.on {
			position:static;
			top:0;
		}
	}

	&-cont-item {
		@include clear();
		margin-top:80px;
		padding-top:80px;
		border-top:1px solid $color-light-gray;

		&:first-child {
			margin-top:0;
			border-top:2px solid $color-base;
		}
	}

	&-cont-title {
		float:left;
		padding-left:60px;
		width:320px;
		line-height:1.2;
		color:$color-brand;
		font-size:40px;
		font-weight:normal;
		letter-spacing:-1px;
		background:url(../images/bg_knowhow_cont.png) no-repeat 0 7px;

		&-strong {
			color:$color-accent;
			font-weight:bold;
		}
	}

	&-cont-detail {
		float:right;
		width:550px;
		line-height:1.4;
		color:$color-dark-gray;
		font-size:18px;

		&-strong {
			font-weight:bold;
			color:$color-base;
		}
	}

}

// pr7
.intro {

	&-title {
		font-size:50px;
		font-weight:900;
		text-align:center;
	}

	&-copy {
		margin-top:27px;
		font-size:24px;
		text-align:center;
	}

	&-text{
		font-size:24px;
		text-align:center;
		line-height:1.5;
	}

	&-origin {
		padding:100px 0;

		&-name {
			@include clear();
			margin:45px auto;
			width:681px;

			&01 {
				@include size-mid(268);
				float:left;
				text-align:center;
				font-size:56px;
				font-weight:bold;
				background:url(../images/bg_intro_title.png) no-repeat;
			}

			&02 {
				@include size-mid(145, 268);
				float:left;
				font-size:59px;
				font-weight:900;
				color:$color-brand;
				text-align:center;
			}

			&03 {
				@include size-mid(268);
				float:left;
				text-align:center;
				color:$color-accent;
				font-size:56px;
				font-weight:bold;
				background:url(../images/bg_intro_title.png) no-repeat -412px 0;
			}

		}

		&-logo {
			margin:100px 0;
			text-align:center;
		}

	}

	&-history {
		padding:140px 0;
		background:url(../images/bg_intro_history.jpg) no-repeat 50% 0;
		background-size:cover;

		&-text {
			margin-top:85px;
			padding-top:270px;
			background:url(../images/img_intro_history.png) no-repeat 50% 0;
		}
	}

	&-love {
		padding:140px 0;
		background:url(../images/bg_intro_love.jpg) no-repeat 50% 0 fixed;
		background-size:cover;

		&-text {
			margin-top:85px;
			padding-top:270px;
			background:url(../images/img_intro_love.png) no-repeat 50% 0;
		}

	}

	&-value {
		padding:140px 0;
		background:url(../images/bg_intro_value01.png) no-repeat 50% 195px;

		&-list {
			@include clear();
			@include center();
			margin-top:135px;
			width:980px;
		}

		&-item {
			@include size(228);
			float:left;
			margin-left:22px;
			padding-top:96px;
			line-height:1.5;
			font-size:16px;
			text-align:center;
			background:url(../images/bg_intro_value02.png) no-repeat 50% 0;

			&:first-child {
				margin-left:0;
			}

			&-title {
				margin-bottom:130px;
				color:$color-accent;
				line-height:1;
				font-size:30px;
				font-weight:900;
			}


		}

	}

	&-global {
		padding:100px 0;
		background-color:#f0f0f0;

		&-map {
			@include center();
			position:relative;
			margin-top:30px;
			width:980px;
			height:474px;
			background:url(../images/bg_intro_global.png) no-repeat;
		}

		&-list {

			&-title01,
			&-title02 {
				position:absolute;
				font-size:14px;
				font-weight:bold;
			}

			&-title01 {
				top:435px;
				left:20px;
			}

			&-title02 {
				top:458px;
				left:20px;
			}

			&-item {
				position:absolute;
				font-weight:bold;
				text-align:center;

				&.item01 {

					&-01 {
						top:225px;
						left:318px;

						.detail {
							position:absolute;
							top:-62px;
							left:-72px;
						}
					}

					&-02 {
						top:218px;
						left:394px;

						.detail {
							position:absolute;
							top:-59px;
							left:5px;
							width:170px;
						}
					}

					&-03 {
						top:205px;
						left:708px;

						.detail {
							position:absolute;
							top:-66px;
							left:-55px;
							width:185px;
						}
					}

				}

				&.item02 {

					&-01 {
						top:100px;
						left:10px;
					}

					&-02 {
						top:166px;
						left:41px;
					}

					&-03 {
						top:252px;
						left:240px;
					}

					&-04 {
						top:265px;
						left:289px;
					}

					&-05 {
						top:326px;
						left:301px;
					}

					&-06 {
						top:297px;
						left:363px;
					}

					&-07 {
						top:128px;
						left:343px;
					}

					&-08 {
						top:380px;
						left:381px;
					}

				}

			}

		}

	}

	&-brand {
		padding:100px 0;

		&-slides {
			@include center();
			position:relative;
			margin-top:95px;
			width:1140px;
		}

		&-title {
			font-size:24px;
			font-weight:bold;
			text-align:center;
		}

		&-copy {
			margin-top:14px;
			font-size:16px;
			text-align:center;
		}

		&-list01,
		&-list02,
		&-list03,
		&-list04,
		&-list05,
		&-list06,
		&-list07,
		&-list08,
		&-list09,
		&-list10,
		&-list11 {
			@include center();
			margin-top:30px;
			width:980px;
			height:103px;
		}

		&-list01 {
			background:url(../images/bg_intro_brand01.jpg) no-repeat 50% 0;
		}

		&-list02 {
			background:url(../images/bg_intro_brand02.jpg) no-repeat 50% 0;
		}

		&-list03 {
			background:url(../images/bg_intro_brand03.jpg) no-repeat 50% 0;
		}

		&-list04 {
			background:url(../images/bg_intro_brand04.jpg) no-repeat 50% 0;
		}

		&-list05 {
			background:url(../images/bg_intro_brand05.jpg) no-repeat 50% 0;
		}

		&-list06 {
			background:url(../images/bg_intro_brand06.jpg) no-repeat 50% 0;
		}

		&-list07 {
			background:url(../images/bg_intro_brand07.jpg) no-repeat 50% 0;
		}

		&-list08 {
			background:url(../images/bg_intro_brand08.jpg) no-repeat 50% 0;
		}

		&-list09 {
			background:url(../images/bg_intro_brand09.jpg) no-repeat 50% 0;
		}

		&-list10 {
			background:url(../images/bg_intro_brand10.jpg) no-repeat 50% 0;
		}

		&-list11 {
			background:url(../images/bg_intro_brand11.jpg) no-repeat 50% 0;
		}

		&-item {
			position:absolute;
			top:-9999px;
		}

		.slidesjs-previous {
			top:118px;
			left:35px;
			z-index:10;
		}
		.slidesjs-next {
			top:118px;
			right:35px;
			z-index:10;
		}
	}

	&-responsibility {
		padding:100px 0;
		background-color:#f0f0f0;
	}

	&-res {

		&-item01,
		&-item02,
		&-item03 {
			@include center();
			box-sizing:border-box;
			width:980px;
			height:284px;

		}

		&-item01 {
			margin-top:55px;
			padding:60px 0 0 330px;
			background:url(../images/bg_intro_responsibility01.png) no-repeat;
		}

		&-item02 {
			margin-top:30px;
			padding:50px 300px 0 0;
			background:url(../images/bg_intro_responsibility02.png) no-repeat;
		}

		&-item03 {
			margin-top:30px;
			padding:75px 0 0 330px;
			background:url(../images/bg_intro_responsibility03.png) no-repeat;
		}

		&-item {

			&-title {
				font-size:30px;
				font-weight:bold;
				color:$color-accent;
			}

			&-text {
				margin-top:12px;
				font-size:22px;
				line-height:1.3;
			}
		}

	}
}

// pr8.1
.terms{

	&-page{

		padding:40px 10px;
		font-size:14px;
		line-height:1.8;
		border-top:2px solid $color-base;
		border-bottom:1px solid $color-light-gray;

		&.no-border {
			padding:0;
			padding-bottom:20px;
			border:0;
		}

	}

	&-heading{
		margin:25px 0 15px;
		font-size:14px;

		&.first{
			margin-top:0px;
		}
	}

	&-list{
		padding:0 0 0 16px;
	}

	&-num{
		margin:0 0 0 -16px;
	}

}

// pr8.2
.privacy{

	&-page{

		padding:40px 10px;
		font-size:14px;
		line-height:1.8;
		border-top:2px solid $color-base;
		border-bottom:1px solid $color-light-gray;
	}

	&-heading{

		&-1{

			margin:25px 0 15px;
			font-size:14px;

			&.first{
				margin-top:0px;
			}
		}

		&-2{
			margin:25px 0 15px 15px;
		}

	}

	&-paragraph{
		margin:10px 0 0 30px;

		&.first {
			margin-left:0;
		}
	}

	&-list{
		margin:5px 0 0 30px;
		padding:0 0 0 7px;
	}

	&-num{
		margin:0 0 0 -7px;
	}

	&-table {
		margin:10px auto 0;
		width:900px;
	}

}