.table {
	border-collapse:collapse;
	@include size(100%, a);
	font-size:$font-size-base;
	border-top:2px solid $color-base;
	border-bottom:1px solid $color-light-gray;
	table-layout:fixed;

	&-th {
		padding:20px 0;
		background-color:$color-white-gray;
	}

	&-td {
		padding:10px 5px;
		height:35px;
		line-height:1.4;
		text-align:center;
		border-top:1px solid $color-light-gray;
	}

	&-title {
		padding-left:10px;
		text-align:left;

		&-link:hover {
			text-decoration:underline;
		}
	}

	&-text {
		margin:5px 0;
		line-height:1.5;
	}
}

.table-hr {
	border-collapse:collapse;
	@include size(100%, a);
	font-size:$font-size-base;
	border-top:2px solid $color-base;
	border-bottom:1px solid $color-light-gray;
	table-layout:fixed;

	&-th {
		padding:20px 15px;
		text-align:left;
		background-color:$color-white-gray;
		border-top:1px solid $color-light-gray;
	}

	&-td {
		padding:10px 20px;
		line-height:1.4;
		border-top:1px solid $color-light-gray;
	}
}

.upload-photo {
	position:relative;
	overflow:hidden;

	&:after {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		@include size(1,400);
		background:$color-light-gray;
	}

	&-frame {
		@include size(163, 223);
		border:1px solid $color-med-gray;
		border-radius:5px;
		overflow:hidden;
	}

	&-img {
		width:100%;
	}

	&-btn {
		margin:10px auto 0;
		width:116px;

		.file-input-value {
			display:none;
		}

		.file-input {
			left:-200px;
			width:110px;
		}

		.file-label {
			padding-left:0;

			&:after {
				display:none;
			}

		}
	}
}

.table-caption {
	font-size:0;
	line-height:0;
}

.no-result {
	padding:50px 0;
}

.inline-icon {
	vertical-align:middle;
}