.table {
	border-collapse:collapse;
	width:100%;
	font-size:$font-size-base;
	border-top:2px solid $color-base;
	border-bottom:1px solid $color-light-gray;

	&-th {
		padding:20px 0;
		background-color:$color-white-gray;
	}
	&-td {
		padding:10px 5px;
		text-align:center;
		border-top:1px solid $color-light-gray;
	}
	&-title {
		padding-left:10px;
		text-align:left;
	}
	&-text {
		margin:5px 0;
		line-height:1.5;
	}
}

.table-hr {
	border-collapse:collapse;
	width:100%;
	font-size:$font-size-base;
	border-top:2px solid $color-base;
	border-bottom:1px solid $color-light-gray;
	&-th {
		padding:20px 15px;
		text-align:left;
		background-color:$color-white-gray;
		border-top:1px solid $color-light-gray;
	}
	&-td {
		padding:10px 20px;
		border-top:1px solid $color-light-gray;
	}
}

.table-caption {
	font-size:0;
	line-height:0;
}