$font-stack:"Nanum Gothic", dotum, sans-serif;
$font-size-base:13px;

$color-brand:#a6ce39;
$color-accent:#008038;

$color-base:#222;
$color-point:#b07e44;

$color-dark:#2e2e2e;
$color-dark-gray:#666;
$color-gray:#acacac;
$color-med-gray:#cbcbcb;
$color-light-gray:#d8d8d8;
$color-white-gray:#f9f9f9;
$color-white:#fff;