@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 13px;
  color: #222;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #222;
  text-decoration: none;
}

select, input, button, textarea {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 13px;
  color: #222;
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

.skip-nav-link {
  position: absolute;
  top: -9999px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #008038;
}
.skip-nav-link:focus {
  top: 0;
}

.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination .page-item {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}
.pagination .page-item:hover {
  background-color: #d8d8d8;
}
.pagination .page-first,
.pagination .page-prev,
.pagination .page-next,
.pagination .page-last {
  border: 1px solid #d8d8d8;
  text-indent: -9999px;
  background: url(../images/icons_pagination.png) no-repeat;
}
.pagination .page-prev {
  background-position: -30px 0;
}
.pagination .page-next {
  background-position: -60px 0;
}
.pagination .page-last {
  background-position: -90px 0;
}
.pagination .page-item.current {
  background-color: #a6ce39;
  font-weight: bold;
}

.show-calendar {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 16px;
  background: url(../images/icon_cal.png) no-repeat;
  border: 0;
  text-indent: -9999px;
  vertical-align: middle;
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: 95px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  background-color: #2e2e2e;
  vertical-align: middle;
  cursor: pointer;
  transition: all .2s;
}
.btn-wide {
  width: 145px;
  font-size: 15px;
}
.btn-green {
  color: #222;
  background-color: #a6ce39;
}
.btn-gray {
  background-color: #666;
}
.btn-small {
  width: 85px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
}
.btn-form {
  width: 116px;
  height: 37px;
  line-height: 37px;
  background-color: #666;
}
.btn-delete {
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: #666 url(../images/icon_close02.png) no-repeat 50% 50%;
}
.btn:hover {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.form-wrap {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 7px;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  vertical-align: middle;
  box-sizing: border-box;
}

.input-text,
.select {
  padding: 0;
  width: 100%;
  height: 21px;
  border: 0;
  color: #666;
}

.textarea {
  padding: 0;
  border: 0;
  height: 176px;
  color: #666;
}

.width-small {
  width: 77px;
}
.width-normal {
  width: 116px;
}
.width-half {
  width: 50%;
}

.radio-wrap {
  position: relative;
  float: left;
  margin-right: 10px;
}
.radio-input {
  position: absolute;
  top: 4px;
  left: 3px;
}
.radio-input:checked + .radio-label:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #2e2e2e;
}
.radio-label {
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px;
  line-height: 20px;
  color: #666;
  vertical-align: middle;
}
.radio-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cbcbcb;
  border-radius: 100%;
  background-color: #fff;
}

.check-wrap {
  float: left;
  margin-right: 10px;
  position: relative;
}
.check-input {
  position: absolute;
  top: 4px;
  left: 3px;
}
.check-input:checked + .check-label:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 8px;
  background: url(../images/icon_checked.png) no-repeat 50% 50%;
}
.check-label {
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px;
  line-height: 20px;
  color: #666;
  vertical-align: middle;
}
.check-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background-color: #fff;
}

.form-div {
  float: left;
  width: 10px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}
.form-div-at {
  width: 20px;
}
.form-inline-msg {
  float: left;
  height: 37px;
  line-height: 37px;
}
.form-block-msg {
  margin-top: 10px;
}

.no-gap {
  margin-right: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
}
.table-th {
  padding: 20px 0;
  background-color: #f9f9f9;
}
.table-td {
  padding: 10px 5px;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}
.table-title {
  padding-left: 10px;
  text-align: left;
}
.table-text {
  margin: 5px 0;
  line-height: 1.5;
}

.table-hr {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
}
.table-hr-th {
  padding: 20px 15px;
  text-align: left;
  background-color: #f9f9f9;
  border-top: 1px solid #d8d8d8;
}
.table-hr-td {
  padding: 10px 20px;
  border-top: 1px solid #d8d8d8;
}

.table-caption {
  font-size: 0;
  line-height: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 980px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 81px;
}
.header .wrapper {
  position: static;
}
.header .logo {
  float: left;
  margin-top: 25px;
}
.header .logo-img {
  width: 101px;
}
.header-util {
  float: right;
  margin-top: 25px;
}
.header-util-login, .header-util-mypage {
  float: left;
  padding-top: 26px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.header-util-login {
  margin-right: 24px;
  width: 30px;
  background: url(../images/icon_lock.png) no-repeat 50% 0;
}
.header-util-mypage {
  width: 50px;
  background: url(../images/icon_mypage.png) no-repeat 50% 0;
}

.gnb {
  float: left;
  margin-left: 125px;
  padding-top: 43px;
}
.gnb-item {
  float: left;
}
.gnb-main-link {
  display: block;
  padding: 0 25px;
  font-size: 16px;
  font-weight: bold;
}
.gnb-main-link:focus, .gnb-main-link:hover, .gnb-main-link.on {
  color: #008038;
  border-bottom-color: #008038;
}
.gnb-main-text {
  display: block;
  height: 33px;
  border-bottom: 5px solid transparent;
}
.gnb-main-link:focus .gnb-main-text, .gnb-main-link:hover .gnb-main-text, .gnb-main-link.on .gnb-main-text {
  color: #008038;
  border-bottom-color: #008038;
}
.gnb-sub-wrap {
  display: none;
  position: absolute;
  top: 81px;
  left: 0;
  width: 100%;
  height: 150px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 5px solid #a6ce39;
  background-color: #fff;
  z-index: 10;
}
.gnb-main-link:focus + .gnb-sub-wrap, .gnb-main-link:hover + .gnb-sub-wrap, .gnb-sub-wrap:hover {
  display: block;
}
.gnb-sub-copy {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -495px;
  font-size: 22px;
  color: #2e2e2e;
}
.gnb-sub {
  margin: 0 auto;
  padding-left: 225px;
  padding-top: 38px;
  width: 700px;
}
.gnb-sub-item {
  float: left;
  margin-left: 70px;
  font-size: 14px;
  font-weight: bold;
}
.gnb-sub-item:first-child {
  margin-left: 0;
}
.gnb-sub-link {
  display: block;
  padding-top: 65px;
  padding-bottom: 3px;
}
.gnb-sub-link:focus, .gnb-sub-link:hover, .gnb-sub-link.on {
  color: #008038;
  border-bottom: 1px solid #008038;
}

.main-header {
  position: relative;
  padding-top: 63px;
  min-width: 980px;
  height: 153px;
}
.main-header-title {
  float: left;
  font-size: 46px;
  color: #fff;
}
.main-header-copy {
  clear: left;
  float: left;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}
.main-header-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 980px;
  height: 45px;
}
.main-header-svg {
  fill: #fff;
}
.main-header .breadcrumb {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  color: #fff;
}
.main-header .breadcrumb-link {
  color: #fff;
}
.main .apply-header {
  background: url(../images/bg_main_header01.jpg) no-repeat 50% 0;
  background-size: cover;
}
.main-content {
  padding-top: 80px;
  padding-bottom: 50px;
}
.main-actions {
  padding: 46px 0;
  border-top: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  text-align: center;
}

.content-header {
  margin-bottom: 50px;
}
.content-header .content-title {
  float: left;
  font-size: 46px;
}
.content-header .breadcrumb {
  float: right;
  font-size: 11px;
}

.row {
  position: relative;
  padding-bottom: 80px;
}
.row-msg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #666;
}
.row-header {
  margin-bottom: 10px;
  font-size: 18px;
}
.row-actions {
  float: right;
  margin-top: 10px;
}

.footer {
  padding-top: 30px;
  height: 66px;
  background-color: #2e2e2e;
}
.footer-links {
  float: left;
}
.footer-links-item {
  padding: 0 8px;
  line-height: 1;
  border-left: 1px solid #666;
  float: left;
}
.footer-links-item:first-child {
  padding-left: 0;
  border-left: 0;
}
.footer-link {
  font-size: 11px;
  color: #acacac;
}
.footer-family {
  float: right;
}
.footer-family-select {
  float: left;
  margin-right: 5px;
  width: 143px;
  height: 26px;
  color: #acacac;
  border: 1px solid #666;
  background-color: transparent;
}
.footer-family-btn {
  float: left;
  width: 45px;
  height: 26px;
  color: #acacac;
  border: 1px solid #666;
  background-color: transparent;
}
.footer-wamark {
  float: right;
  margin-top: -7px;
  margin-right: 14px;
}
.footer-copy {
  clear: left;
  float: left;
  margin-top: 5px;
  font-size: 10px;
  color: #acacac;
}

.popup {
  position: absolute;
  top: 10%;
  left: 50%;
  padding-bottom: 20px;
  margin-left: -221px;
  width: 440px;
  border: 2px solid #2e2e2e;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.popup.popup-wide {
  margin-left: -306px;
  width: 610px;
}
.popup-title {
  padding-left: 20px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #fff;
  background-color: #2e2e2e;
}
.popup-content {
  margin: 20px;
  height: 600px;
  overflow: auto;
}
.popup-actions {
  text-align: center;
}
.popup-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 15px;
  height: 15px;
  background: url(../images/icon_close.png) no-repeat;
  text-indent: -9999px;
}

.em {
  font-style: normal;
  font-weight: bold;
  color: #b07e44;
}

.strong {
  color: #008038;
  font-weight: bold;
}

.step {
  margin-bottom: 100px;
}

.step-item {
  float: left;
  padding-left: 31px;
  background: url(../images/bg_step_arrow.png) no-repeat 13px 50%;
}
.step-item:first-child {
  padding-left: 0;
  background: none;
}
.step-item-state {
  width: 171px;
  height: 171px;
  background: url(../images/bg_step.png) no-repeat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.step-item-state.on {
  background-position: -171px 0;
}
.step-item-state.on .step-item-current {
  display: block;
}
.step-item-text {
  margin-bottom: 15px;
  padding-top: 38px;
  font-family: Georgia, serif;
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
}
.step-item-num {
  font-size: 35px;
}
.step-item-current {
  display: none;
  margin: 15px auto 0;
  width: 17px;
  height: 1px;
  background-color: #222;
  text-indent: -9999px;
}

/*# sourceMappingURL=style.css.map */
