@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 13px;
  color: #222;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #222;
  text-decoration: none;
}

select, input, button, textarea {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 13px;
  color: #222;
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

.skip-nav-link {
  position: absolute;
  top: -9999px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #008038;
}
.skip-nav-link:focus {
  top: 0;
}

.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination .page-item {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}
.pagination .page-item:hover {
  background-color: #d8d8d8;
}
.pagination .page-first,
.pagination .page-prev,
.pagination .page-next,
.pagination .page-last {
  border: 1px solid #d8d8d8;
  text-indent: -9999px;
  background: url(../images/sprite_pagination.png) no-repeat;
}
.pagination .page-prev {
  background-position: -30px 0;
}
.pagination .page-next {
  background-position: -60px 0;
}
.pagination .page-last {
  background-position: -90px 0;
}
.pagination .page-item.current {
  background-color: #a6ce39;
  font-weight: bold;
}

.show-calendar {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 16px;
  background: url(../images/icon_cal.png) no-repeat;
  border: 0;
  text-indent: -9999px;
  vertical-align: middle;
  cursor: pointer;
}

.toggle-box.first, .toggle-box:first-child {
  border-top: 2px solid #2e2e2e;
}
.toggle-box-title {
  position: relative;
  display: block;
  height: 57px;
  line-height: 57px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f9f9f9;
}
.toggle-box-action {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
  background: transparent url(../images/sprite_arrow.png) no-repeat 100% 27px;
  cursor: pointer;
}
.toggle-box-action.on {
  background-position: 100% -70px;
}
.toggle-box-content {
  display: none;
  border-bottom: 1px solid #d8d8d8;
}
.toggle-box-content.on {
  display: block;
}

.terms, .terms-scroll {
  padding: 25px 15px;
}
.terms-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 160px;
}

.list-item {
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 1.2;
}
.list-item:first-child {
  margin-top: 0;
}
.list-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #a6ce39;
}

.btn, .btn-wide, .btn-apply-item-view, .btn-green, .btn-gray, .btn-small, .btn-form, .btn-delete, .btn-apply, .btn-send-email, .btn-login-action {
  display: inline-block;
  margin: 0 3px;
  width: 95px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background: #2e2e2e;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  transition: all .2s;
}
.btn-wide, .btn-apply-item-view {
  width: 145px;
  font-size: 15px;
}
.btn-green, .btn-apply-item-view {
  color: #222;
  background-color: #a6ce39;
}
.btn-gray {
  background-color: #666;
}
.btn-small {
  width: 85px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
}
.btn-form {
  width: 116px;
  height: 37px;
  line-height: 37px;
  display: block;
  margin: 0;
  float: left;
  margin-right: 10px;
  background-color: #666;
}
.btn-delete {
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: #666 url(../images/icon_close02.png) no-repeat 50% 50%;
}
.btn-apply-item-view {
  position: absolute;
  right: 16px;
  bottom: 17px;
  margin: 0;
}
.btn-apply {
  position: absolute;
  top: 12px;
  right: 73px;
  margin: 0;
}
.btn-send-email {
  width: 86px;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  margin-left: 10px;
  background-color: #666;
}
.btn-login-action {
  width: 75px;
  height: 19px;
  line-height: 19px;
  float: left;
  margin-right: 5px;
  font-size: 11px;
  border-radius: 3px;
}
.btn:hover, .btn-wide:hover, .btn-apply-item-view:hover, .btn-green:hover, .btn-gray:hover, .btn-small:hover, .btn-form:hover, .btn-delete:hover, .btn-apply:hover, .btn-send-email:hover, .btn-login-action:hover {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.form-wrap, .form-wrap-nogap {
  width: 100%;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  vertical-align: middle;
  box-sizing: border-box;
}
.form-wrap-nogap {
  margin-right: 0;
}

.input-text, .input-search, .input-search-small, .input-search-normal, .input-search-half,
.select {
  padding: 0;
  width: 100%;
  height: 21px;
  border: 0;
  color: #666;
}

.input-search {
  width: 80%;
}
.input-search-small {
  width: 70%;
}
.input-search-normal {
  width: 80%;
}
.input-search-half {
  width: 90%;
}
.input-search-btn {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  text-indent: -9999px;
  background: transparent url(../images/icon_search.png) no-repeat 50% 50%;
  border: 0;
}

.textarea {
  padding: 0;
  border: 0;
  width: 100%;
  height: 176px;
  color: #666;
}
.textarea-view {
  width: 100%;
  height: 176px;
  color: #666;
  overflow-x: hidden;
  overflow-y: auto;
}
.textarea.inquiry {
  height: 300px;
}

.width-small {
  width: 77px;
}
.width-normal {
  width: 116px;
}
.width-half {
  width: 50%;
}
.width-apply-search {
  width: 490px;
}
.width-faq-search {
  width: 715px;
}
.width-edu-search {
  width: 289px;
}

.radio-wrap {
  position: relative;
  float: left;
  margin-right: 10px;
}
.radio-input {
  position: absolute;
  top: 4px;
  left: 3px;
}
.radio-input:checked + .radio-label:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #2e2e2e;
}
.radio-label {
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px;
  line-height: 20px;
  color: #666;
  vertical-align: middle;
}
.radio-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cbcbcb;
  border-radius: 100%;
  background-color: #fff;
}

.check-wrap {
  float: left;
  margin-right: 10px;
  position: relative;
}
.check-input {
  position: absolute;
  top: 4px;
  left: 3px;
}
.check-input:checked + .check-label:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 8px;
  background: url(../images/icon_checked.png) no-repeat 50% 50%;
}
.check-label {
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px;
  line-height: 20px;
  color: #666;
  vertical-align: middle;
}
.check-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background-color: #fff;
}

.form-div {
  float: left;
  width: 10px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}
.form-div-at {
  width: 20px;
}
.form-inline-msg {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.form-inline-wrap {
  float: left;
  margin-top: 9px;
}
.form-block-msg {
  margin-top: 10px;
}

.no-gap {
  margin-right: 0;
}

.no-float {
  float: none;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
}
.table-th {
  padding: 20px 0;
  background-color: #f9f9f9;
}
.table-td {
  padding: 10px 5px;
  height: 35px;
  line-height: 1.4;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}
.table-title {
  padding-left: 10px;
  text-align: left;
}
.table-title-link:hover {
  text-decoration: underline;
}
.table-text {
  margin: 5px 0;
  line-height: 1.5;
}

.table-hr {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
}
.table-hr-th {
  padding: 20px 15px;
  text-align: left;
  background-color: #f9f9f9;
  border-top: 1px solid #d8d8d8;
}
.table-hr-td {
  padding: 10px 20px;
  line-height: 1.4;
  border-top: 1px solid #d8d8d8;
}

.upload-photo {
  position: relative;
  overflow: hidden;
}
.upload-photo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 400px;
  background: #d8d8d8;
}
.upload-photo-frame {
  width: 163px;
  height: 223px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  overflow: hidden;
}
.upload-photo-img {
  width: 100%;
}
.upload-photo-btn {
  float: none;
  margin: 10px auto 0;
}

.table-caption {
  font-size: 0;
  line-height: 0;
}

.no-result {
  padding: 50px 0;
}

.inline-icon {
  vertical-align: middle;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 980px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 81px;
}
.header .wrapper {
  position: static;
}
.header .logo {
  float: left;
  margin-top: 25px;
}
.header .logo-img {
  width: 101px;
}
.header-util {
  float: right;
  margin-top: 25px;
}
.header-util-login, .header-util-mypage {
  float: left;
  padding-top: 26px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.header-util-login {
  margin-right: 24px;
  width: 30px;
  background: url(../images/icon_lock.png) no-repeat 50% 0;
}
.header-util-mypage {
  width: 50px;
  background: url(../images/icon_mypage.png) no-repeat 50% 0;
}

.gnb {
  float: left;
  margin-left: 120px;
  padding-top: 43px;
}
.gnb-item {
  float: left;
}
.gnb-main-link {
  display: block;
  padding: 0 23px;
  font-size: 16px;
  font-weight: bold;
}
.gnb-main-link:focus, .gnb-main-link:hover, .gnb-main-link.on {
  color: #008038;
  border-bottom-color: #008038;
}
.gnb-main-text {
  display: block;
  height: 33px;
  border-bottom: 5px solid transparent;
}
.gnb-main-link:focus .gnb-main-text, .gnb-main-link:hover .gnb-main-text, .gnb-main-link.on .gnb-main-text, .gnb-main-link.over .gnb-main-text {
  color: #008038;
  border-bottom-color: #008038;
}
.gnb-sub-wrap {
  display: none;
  position: absolute;
  top: 81px;
  left: 0;
  width: 100%;
  height: 150px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 5px solid #a6ce39;
  background-color: #fff;
  z-index: 10;
}
.gnb-main-link:focus + .gnb-sub-wrap, .gnb-main-link:hover + .gnb-sub-wrap, .gnb-main-link.over + .gnb-sub-wrap, .gnb-sub-wrap:hover {
  display: block;
}
.gnb-sub-copy {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -495px;
  font-size: 22px;
  color: #2e2e2e;
}
.gnb-sub {
  margin: 0 auto;
  padding-left: 225px;
  padding-top: 38px;
  width: 755px;
}
.gnb-sub-item {
  float: left;
  margin-left: 74px;
  font-size: 14px;
  font-weight: bold;
}
.gnb-sub-item:first-child {
  margin-left: 0;
}
.gnb-sub-link {
  display: block;
  width: 90px;
  padding-top: 65px;
  padding-bottom: 3px;
  text-align: center;
  background: url(../images/sprite_gnb.png) no-repeat;
}
.gnb-sub-link-text {
  display: inline-block;
  padding-bottom: 3px;
}
.gnb-sub-link.sub-link01-01 {
  background-position: 23px 0px;
}
.gnb-sub-link.sub-link01-02 {
  background-position: -142px 0px;
}
.gnb-sub-link.sub-link01-03 {
  background-position: -303px 0px;
}
.gnb-sub-link.sub-link02-01 {
  background-position: -462px 0px;
}
.gnb-sub-link.sub-link02-02 {
  background-position: -631px 0px;
}
.gnb-sub-link.sub-link02-03 {
  background-position: -791px 0px;
}
.gnb-sub-link.sub-link03-01 {
  background-position: -908px 0px;
}
.gnb-sub-link.sub-link03-02 {
  background-position: -1076px 0px;
}
.gnb-sub-link.sub-link03-03 {
  background-position: -1243px 0px;
}
.gnb-sub-link.sub-link03-04 {
  background-position: -1407px 0px;
}
.gnb-sub-link:focus.sub-link01-01, .gnb-sub-link:hover.sub-link01-01, .gnb-sub-link.on.sub-link01-01 {
  background-position: 23px -120px;
}
.gnb-sub-link:focus.sub-link01-02, .gnb-sub-link:hover.sub-link01-02, .gnb-sub-link.on.sub-link01-02 {
  background-position: -142px -120px;
}
.gnb-sub-link:focus.sub-link01-03, .gnb-sub-link:hover.sub-link01-03, .gnb-sub-link.on.sub-link01-03 {
  background-position: -303px -120px;
}
.gnb-sub-link:focus.sub-link02-01, .gnb-sub-link:hover.sub-link02-01, .gnb-sub-link.on.sub-link02-01 {
  background-position: -462px -120px;
}
.gnb-sub-link:focus.sub-link02-02, .gnb-sub-link:hover.sub-link02-02, .gnb-sub-link.on.sub-link02-02 {
  background-position: -631px -120px;
}
.gnb-sub-link:focus.sub-link02-03, .gnb-sub-link:hover.sub-link02-03, .gnb-sub-link.on.sub-link02-03 {
  background-position: -791px -120px;
}
.gnb-sub-link:focus.sub-link03-01, .gnb-sub-link:hover.sub-link03-01, .gnb-sub-link.on.sub-link03-01 {
  background-position: -908px -120px;
}
.gnb-sub-link:focus.sub-link03-02, .gnb-sub-link:hover.sub-link03-02, .gnb-sub-link.on.sub-link03-02 {
  background-position: -1076px -120px;
}
.gnb-sub-link:focus.sub-link03-03, .gnb-sub-link:hover.sub-link03-03, .gnb-sub-link.on.sub-link03-03 {
  background-position: -1243px -120px;
}
.gnb-sub-link:focus.sub-link03-04, .gnb-sub-link:hover.sub-link03-04, .gnb-sub-link.on.sub-link03-04 {
  background-position: -1407px -120px;
}
.gnb-sub-link:focus .gnb-sub-link-text, .gnb-sub-link:hover .gnb-sub-link-text, .gnb-sub-link.on .gnb-sub-link-text {
  color: #008038;
  border-bottom: 1px solid #008038;
}

.main-header {
  position: relative;
  padding-top: 56px;
  min-width: 980px;
  height: 160px;
  background-color: #666;
}
.main-header-title {
  float: left;
  font-size: 46px;
  color: #fff;
}
.main-header-copy {
  clear: left;
  float: left;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}
.main-header-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  min-width: 980px;
}
.main-header-svg {
  fill: #fff;
}
.main-header .breadcrumb {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  color: #fff;
}
.main-header .breadcrumb-link {
  color: #fff;
}
.main .account-header {
  background: url(../images/bg_main_header01.jpg) no-repeat 50% 0;
  background-size: cover;
}
.main .apply-header {
  background-size: cover;
}
.main .notice-header {
  background-size: cover;
}
.main .mypage-header {
  background-size: cover;
}
.main-content {
  padding-top: 80px;
  padding-bottom: 50px;
  min-height: 450px;
}
.main-actions {
  padding: 46px 0;
  border-top: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  text-align: center;
}

.content-header {
  margin-bottom: 50px;
}
.content-header .content-title {
  float: left;
  font-size: 46px;
}
.content-header .breadcrumb {
  float: right;
  font-size: 11px;
}

.row, .row-no-bottom {
  position: relative;
  padding-bottom: 80px;
}
.row-title {
  position: relative;
  margin-bottom: 50px;
  padding-top: 20px;
  font-size: 24px;
}
.row-title:after {
  width: 19px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a6ce39;
}
.row-no-bottom {
  padding-bottom: 0;
}
.row-msg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #666;
}
.row-header {
  margin-bottom: 10px;
  font-size: 18px;
}
.row-actions {
  float: right;
  margin-top: 10px;
}

.footer {
  padding-top: 30px;
  height: 66px;
  background-color: #2e2e2e;
}
.footer-links {
  float: left;
}
.footer-links-item {
  padding: 0 8px;
  line-height: 1;
  border-left: 1px solid #666;
  float: left;
}
.footer-links-item:first-child {
  padding-left: 0;
  border-left: 0;
}
.footer-link {
  font-size: 11px;
  color: #acacac;
}
.footer-family {
  float: right;
}
.footer-family-select {
  float: left;
  margin-right: 5px;
  width: 143px;
  height: 26px;
  color: #acacac;
  border: 1px solid #666;
  background-color: transparent;
}
.footer-family-btn {
  float: left;
  width: 45px;
  height: 26px;
  color: #acacac;
  border: 1px solid #666;
  background-color: transparent;
  cursor: pointer;
}
.footer-wamark {
  float: right;
  margin-top: -7px;
  margin-right: 14px;
}
.footer-copy {
  clear: left;
  float: left;
  margin-top: 5px;
  font-size: 10px;
  color: #acacac;
}

.popup {
  position: absolute;
  top: 10%;
  left: 50%;
  padding-bottom: 20px;
  margin-left: -221px;
  width: 440px;
  border: 2px solid #2e2e2e;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.popup.popup-wide {
  width: 700px;
  margin-left: -352px;
}
.popup.popup-preview {
  width: 1037px;
  height: auto;
  margin-left: -520px;
}
.popup-title {
  padding-left: 20px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #fff;
  background-color: #2e2e2e;
}
.popup-content {
  margin: 20px;
}
.popup-content-msg {
  line-height: 1.6;
  text-align: center;
  color: #222;
  font-weight: bold;
}
.popup-content.popup-content-preview {
  margin-right: 10px;
  padding-right: 10px;
  height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.popup-actions {
  text-align: center;
}
.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 18px;
  background: url(../images/icon_close.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  cursor: pointer;
}

.cong-msg {
  position: relative;
  margin-bottom: 50px;
  padding-top: 118px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: url(../images/icon_cong_msg.png) no-repeat 50% 19px;
}
.cong-msg:after {
  width: 26px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -27px;
  left: 50%;
  display: block;
  margin-left: -13px;
  background-color: #000;
}

.result-msg {
  margin-bottom: 24px;
  line-height: 1.7;
  color: #666;
  text-align: center;
}
.result-msg-name {
  display: block;
  margin-bottom: 10px;
  color: #222;
  font-size: 16px;
  font-weight: bold;
}

.result-overview {
  margin: 0 35px;
  padding: 30px 0 30px 35px;
  text-indent: -35px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
.result-overview-item {
  margin-top: 15px;
}
.result-overview-item:first-child {
  margin-top: 0;
}
.result-overview-item .black {
  margin-right: 13px;
}
.result-overview-div {
  margin: 30px 0 30px -35px;
  padding: 0;
  height: 0;
  border: 0;
  border-top: 1px solid #cbcbcb;
}

.interview {
  overflow: hidden;
}
.interview-left {
  float: left;
  margin-left: 25px;
  width: 260px;
}
.interview-right {
  float: right;
  width: 375px;
}
.interview-msg {
  position: relative;
  margin-bottom: 50px;
  padding-top: 118px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: url(../images/icon_interview_msg.png) no-repeat 50% 19px;
}
.interview-msg:after {
  width: 26px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -27px;
  left: 50%;
  display: block;
  margin-left: -13px;
  background-color: #000;
}

.change-phone {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: auto;
}

.inquiry-form {
  margin-top: 30px;
}

.edu-search-title {
  margin: 20px 0 10px;
  color: #222;
  font-size: 14px;
  font-weight: bold;
}
.edu-search-title:first-child {
  margin-top: 0;
}

.edu-search-result {
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.edu-search-list {
  padding: 11px;
  height: 130px;
  overflow-x: hidden;
  overflow-y: auto;
}
.edu-search-list-item {
  display: block;
  margin-bottom: 13px;
  color: #666;
}
.edu-search-list-item:hover {
  text-decoration: underline;
}

.account, .account-low {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: 250px;
  margin-top: 70px;
  padding: 0 100px;
  border-top: 2px solid #2e2e2e;
  border-bottom: 1px solid #d8d8d8;
}
.account-low {
  height: 154px;
  margin-top: 0;
}
.account-box {
  margin-top: 10px;
}
.account-box:after {
  content: "";
  display: block;
  clear: both;
}
.account-box:first-child {
  margin-top: 0;
}
.account-label, .account-label-pw {
  float: left;
  margin-top: 13px;
  width: 66px;
  font-weight: bold;
}
.account-label-pw {
  width: 106px;
}
.account-width01 {
  width: 116px;
}
.account-width02 {
  width: 232px;
}
.account-width03 {
  width: 368px;
}
.account-width04 {
  width: 494px;
  margin-right: 0;
}
.account-width-pw {
  width: 454px;
  margin-right: 0;
}
.account-msg {
  margin-top: 115px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.account-form-msg {
  clear: both;
  margin-left: 66px;
  padding-top: 9px;
}
.account-pw-msg {
  clear: both;
  margin-left: 106px;
  padding-top: 9px;
}
.account-actions {
  margin-bottom: 150px;
  padding-top: 30px;
  text-align: center;
}

.account-login {
  position: relative;
  margin-top: 83px;
}
.account-login-btn {
  width: 116px;
  height: 82px;
  line-height: 82px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}

.login-action {
  width: 760px;
  margin: 35px auto 150px;
  padding-bottom: 38px;
  border-bottom: 1px solid #d8d8d8;
}
.login-action:after {
  content: "";
  display: block;
  clear: both;
}
.login-action-title {
  font-size: 12px;
  margin-bottom: 14px;
}

.login-find, .login-signup {
  width: 50%;
  height: 77px;
  float: left;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 160px;
  background: url(../images/sprite_login.png) no-repeat 68px 9px;
}

.login-signup {
  border-left: 1px solid #f4f4f4;
  background-position: 66px -135px;
}

.account-find {
  margin-top: 83px;
}

.account-find-pw {
  margin-top: 25px;
}

.account-re-pw {
  margin-top: 75px;
}

.account-close {
  margin-top: 59px;
}

.apply-list {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #cbcbcb;
}

.apply-item {
  position: relative;
  padding: 28px 27px;
  min-height: 158px;
  transition: background .1s;
}
.apply-item-state {
  float: left;
  padding-top: 10px;
  width: 140px;
  border-top: 1px solid #acacac;
  font-size: 22px;
  font-weight: bold;
}
.apply-item-state-no {
  float: left;
  padding-top: 20px;
  width: 140px;
  border-top: 1px solid #acacac;
  color: #666;
  font-size: 22px;
}
.apply-item-state-date {
  display: block;
  margin-bottom: 9px;
  color: #b07e44;
  font-family: Georgia, serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}
.apply-item-overview {
  float: left;
  margin-left: 50px;
}
.apply-item-part {
  font-size: 16px;
  color: #666;
}
.apply-item-title {
  margin-top: 3px;
  font-size: 30px;
  font-weight: bold;
}
.apply-item-detail {
  margin-top: 8px;
  font-size: 15px;
  color: #666;
}
.apply-item-date {
  margin-top: 5px;
  color: #666;
}
.apply-item:hover {
  background-color: #f9f9f9;
}

.apply-view-header {
  margin-bottom: 30px;
}

.apply-view-title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}

.apply-view-detail {
  position: relative;
}

.apply-view-item {
  padding: 25px;
  border-top: 1px solid #d8d8d8;
  overflow: hidden;
}
.apply-view-item:first-child {
  border-top: 0;
}
.apply-view-item-header {
  float: left;
  width: 240px;
}
.apply-view-item-title {
  font-size: 14px;
  font-weight: bold;
}
.apply-view-item-subtitle {
  margin: 20px 0 10px;
  font-size: 14px;
  font-weight: bold;
}
.apply-view-item-subtitle:first-child {
  margin-top: 0;
}
.apply-view-item-cont {
  float: left;
}

.step {
  margin-bottom: 100px;
}

.step-item {
  float: left;
  padding-left: 31px;
  background: url(../images/bg_step_arrow.png) no-repeat 13px 50%;
}
.step-item:first-child {
  padding-left: 0;
  background: none;
}
.step-item-state {
  width: 171px;
  height: 171px;
  background: url(../images/bg_step.png) no-repeat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.step-item-state.on {
  background-position: -171px 0;
}
.step-item-state.on .step-item-current {
  display: block;
}
.step-item-text {
  margin-bottom: 15px;
  padding-top: 38px;
  font-family: Georgia, serif;
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
}
.step-item-num {
  font-size: 35px;
}
.step-item-current {
  display: none;
  margin: 15px auto 0;
  width: 17px;
  height: 1px;
  background-color: #222;
  text-indent: -9999px;
}

.introduce {
  margin-top: 30px;
  text-align: left;
}
.introduce-title {
  margin-bottom: 10px;
  color: #222;
}

.notice-view-header {
  padding: 16px 15px 14px;
  border-top: 2px solid #2e2e2e;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  overflow: hidden;
}
.notice-view-title {
  float: left;
  width: 850px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
.notice-view-date {
  float: right;
  margin-top: 2px;
  font-weight: bold;
}
.notice-view-cont {
  padding: 20px;
  min-height: 350px;
  line-height: 1.4;
  border-bottom: 1px solid #d8d8d8;
}

.faq-search {
  margin-bottom: 50px;
  padding: 30px 76px;
  border: 1px solid #cbcbcb;
  border-top: 2px solid #a6ce39;
  background-color: #f9f9f9;
}

.faq-list {
  margin-bottom: 50px;
}
.faq-list-title {
  position: relative;
  padding: 14px 100px 14px 37px;
  height: auto;
  line-height: 1.4;
  font-size: 13px;
  background-color: #fff;
}
.faq-list-title:after {
  content: "Q";
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: bold;
  color: #b07e44;
}
.faq-list-btn {
  background-position: 100% 20px;
}
.faq-list-btn.on {
  background-position: 100% -74px;
}
.faq-list-cont {
  padding: 14px 37px;
  color: #666;
  background: url(../images/icon_faq_answer.png) no-repeat 17px 15px;
}

.faq-email {
  width: 100%;
  height: 64px;
  line-height: 64px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cbcbcb;
  background-color: #f9f9f9;
}

.account-close-info {
  display: block;
  margin: 0 auto;
  width: 760px;
  margin-bottom: 30px;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  top: -9999px;
}

.em {
  font-style: normal;
  font-weight: bold;
  color: #b07e44;
}

.strong {
  color: #008038;
  font-weight: bold;
}

.black {
  color: #222;
}

.check-length {
  clear: both;
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
