@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 13px;
  color: #222;
  min-width: 1140px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #222;
  text-decoration: none;
}

select, input, button, textarea {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 13px;
  color: #222;
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

/*
 * common components
 */
/* skip navigation */
.skip-nav-link {
  position: absolute;
  top: -9999px;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #008038;
}
.skip-nav-link:focus {
  top: 0;
}

/* pagination */
.pagination {
  margin-top: 40px;
  text-align: center;
}
.pagination .page-item {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}
.pagination .page-item:hover {
  background-color: #d8d8d8;
}
.pagination .page-first,
.pagination .page-prev,
.pagination .page-next,
.pagination .page-last {
  border: 1px solid #d8d8d8;
  text-indent: -9999px;
  background: url(../images/sprite_pagination.png) no-repeat;
}
.pagination .page-prev {
  background-position: -30px 0;
}
.pagination .page-next {
  background-position: -60px 0;
}
.pagination .page-last {
  background-position: -90px 0;
}
.pagination .page-item.current {
  background-color: #a6ce39;
  font-weight: bold;
}

/* calendar open btn */
.show-calendar {
  margin: 0;
  padding: 0;
  width: 15px;
  height: 16px;
  background: url(../images/icon_cal.png) no-repeat;
  border: 0;
  text-indent: -9999px;
  vertical-align: middle;
  cursor: pointer;
}

/* toggle box common */
.toggle-box.first, .toggle-box:first-child {
  border-top: 2px solid #2e2e2e;
}
.toggle-box-title {
  position: relative;
  display: block;
  height: 57px;
  line-height: 57px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f9f9f9;
}
.toggle-box-action {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
  background: transparent url(../images/sprite_arrow.png) no-repeat 100% 27px;
  cursor: pointer;
}
.toggle-box-action.on {
  background-position: 100% -70px;
}
.toggle-box-content {
  display: none;
  border-bottom: 1px solid #d8d8d8;
}
.toggle-box-content.on {
  display: block;
}

/* terms common*/
.terms, .terms-scroll {
  padding: 25px 15px;
}
.terms-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 160px;
}

/* list common */
.list-item {
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 1.2;
}
.list-item:first-child {
  margin-top: 0;
}
.list-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #a6ce39;
}

/*
 * common button
 */
.btn, .btn-wide, .btn-apply-item-view, .btn-green, .btn-gray, .btn-small, .btn-form, .btn-delete, .btn-apply, .btn-send-email, .btn-login-action {
  display: inline-block;
  margin: 0 3px;
  width: 95px;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background: #2e2e2e;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  vertical-align: middle;
  transition: all .2s;
}
.btn-wide, .btn-apply-item-view {
  width: 145px;
  font-size: 15px;
}
.btn-green, .btn-apply-item-view {
  color: #222;
  background-color: #a6ce39;
}
.btn-gray {
  background-color: #666;
}
.btn-small {
  width: 85px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
}
.btn-form {
  width: 116px;
  height: 37px;
  line-height: 37px;
  display: block;
  margin: 0;
  float: left;
  margin-right: 10px;
  background-color: #666;
}
.btn-delete {
  width: 26px;
  height: 26px;
  text-indent: -9999px;
  background: #666 url(../images/icon_close02.png) no-repeat 50% 50%;
}
.btn-apply-item-view {
  position: absolute;
  right: 16px;
  bottom: 17px;
  margin: 0;
}
.btn-apply {
  position: absolute;
  top: 12px;
  right: 73px;
  margin: 0;
}
.btn-send-email {
  width: 86px;
  height: 27px;
  line-height: 27px;
  display: inline-block;
  margin-left: 10px;
  background-color: #666;
}
.btn-login-action {
  width: 75px;
  height: 19px;
  line-height: 19px;
  float: left;
  margin-right: 5px;
  font-size: 11px;
  border-radius: 3px;
}
.btn-index-black {
  width: 189px;
  height: 40px;
  line-height: 40px;
  color: #222;
  background: transparent;
  border: 1px solid #2e2e2e;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.btn-index-white {
  width: 160px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.btn:hover, .btn-wide:hover, .btn-apply-item-view:hover, .btn-green:hover, .btn-gray:hover, .btn-small:hover, .btn-form:hover, .btn-delete:hover, .btn-apply:hover, .btn-send-email:hover, .btn-login-action:hover {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
}

/*
 * common form
 */
/* wrapper for form elements */
.form-wrap, .form-wrap-nogap {
  width: 100%;
  display: block;
  float: left;
  margin-right: 10px;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  vertical-align: middle;
  box-sizing: border-box;
}
.form-wrap-nogap {
  margin-right: 0;
}

/* input type text or selectbox common */
.input-text, .input-search, .input-search-small, .input-search-normal, .input-search-half,
.select {
  padding: 0;
  width: 100%;
  height: 21px;
  border: 0;
  color: #666;
}

/* inputbox width search button */
.input-search {
  width: 80%;
}
.input-search-small {
  width: 70%;
}
.input-search-normal {
  width: 80%;
}
.input-search-half {
  width: 90%;
}
.input-search-btn {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  text-indent: -9999px;
  background: transparent url(../images/icon_search.png) no-repeat 50% 50%;
  border: 0;
}

/* textarea */
.textarea {
  padding: 0;
  border: 0;
  width: 100%;
  height: 176px;
  color: #666;
}
.textarea-view {
  width: 100%;
  height: 176px;
  color: #666;
  overflow-x: hidden;
  overflow-y: auto;
}
.textarea.inquiry {
  height: 300px;
}

/* widths of form elements */
.width-small {
  width: 77px;
}
.width-normal {
  width: 116px;
}
.width-half {
  width: 50%;
}
.width-apply-search {
  width: 490px;
}
.width-faq-search {
  width: 715px;
}
.width-pop-search {
  width: 289px;
}

/* radio button wrapper */
.radio {
  /* radio button elements */
  /* label with radio button */
}
.radio-wrap {
  position: relative;
  float: left;
  margin-right: 10px;
}
.radio-input {
  position: absolute;
  top: 4px;
  left: 3px;
  /* checked radio button's custom style */
}
.radio-input:checked + .radio-label:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #2e2e2e;
}
.radio-label {
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px;
  line-height: 20px;
  color: #666;
  vertical-align: middle;
}
.radio-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cbcbcb;
  border-radius: 100%;
  background-color: #fff;
}

/* checkbox wrapper */
.check {
  /* checkbox button elements */
  /* label with custom radio button */
}
.check-wrap {
  float: left;
  margin-right: 10px;
  position: relative;
}
.check-input {
  position: absolute;
  top: 4px;
  left: 3px;
  /* label form chechbox */
}
.check-input:checked + .check-label:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 8px;
  background: url(../images/icon_checked.png) no-repeat 50% 50%;
}
.check-label {
  display: inline-block;
  margin-right: 25px;
  padding-left: 30px;
  line-height: 20px;
  color: #666;
  vertical-align: middle;
}
.check-label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background-color: #fff;
}

/* specific form contents */
.form-div {
  float: left;
  width: 10px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}
.form-div-at {
  width: 20px;
}
.form-inline-msg {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.form-inline-wrap {
  float: left;
  margin-top: 9px;
}
.form-block-msg {
  margin-top: 10px;
}

/* no margin for floated element */
.no-gap {
  margin-right: 0;
}

/* remove float */
.no-float {
  float: none;
}

/*
 * common table
 */
.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
  table-layout: fixed;
}
.table-th {
  padding: 20px 0;
  background-color: #f9f9f9;
}
.table-td {
  padding: 10px 5px;
  height: 35px;
  line-height: 1.4;
  text-align: center;
  border-top: 1px solid #d8d8d8;
}
.table-title {
  padding-left: 10px;
  text-align: left;
}
.table-title-link:hover {
  text-decoration: underline;
}
.table-text {
  margin: 5px 0;
  line-height: 1.5;
}

.table-hr {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
  table-layout: fixed;
}
.table-hr-th {
  padding: 20px 15px;
  text-align: left;
  background-color: #f9f9f9;
  border-top: 1px solid #d8d8d8;
}
.table-hr-td {
  padding: 10px 20px;
  line-height: 1.4;
  border-top: 1px solid #d8d8d8;
}

.upload-photo {
  position: relative;
  overflow: hidden;
}
.upload-photo:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 400px;
  background: #d8d8d8;
}
.upload-photo-frame {
  width: 163px;
  height: 223px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  overflow: hidden;
}
.upload-photo-img {
  width: 100%;
}
.upload-photo-btn {
  float: none;
  margin: 10px auto 0;
}

.table-caption {
  font-size: 0;
  line-height: 0;
}

.no-result {
  padding: 50px 0;
}

.inline-icon {
  vertical-align: middle;
}

/*
 * layout
 */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 980px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 81px;
  min-width: 1140px;
}
.header .wrapper {
  position: static;
}
.header .logo {
  float: left;
  margin-top: 25px;
}
.header .logo-img {
  width: 101px;
}
.header-util {
  float: right;
  margin-top: 25px;
}
.header-util-login, .header-util-mypage {
  float: left;
  padding-top: 26px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.header-util-login {
  margin-right: 24px;
  width: 30px;
  background: url(../images/icon_lock.png) no-repeat 50% 0;
}
.header-util-mypage {
  width: 50px;
  background: url(../images/icon_mypage.png) no-repeat 50% 0;
}

.gnb {
  float: left;
  margin-left: 120px;
  padding-top: 43px;
}
.gnb-item {
  float: left;
}
.gnb-main-link {
  display: block;
  padding: 0 23px;
  font-size: 16px;
  font-weight: bold;
}
.gnb-main-link:focus, .gnb-main-link:hover, .gnb-main-link.on {
  color: #008038;
  border-bottom-color: #008038;
}
.gnb-main-text {
  display: block;
  height: 33px;
  border-bottom: 5px solid transparent;
}
.gnb-main-link:focus .gnb-main-text, .gnb-main-link:hover .gnb-main-text, .gnb-main-link.on .gnb-main-text, .gnb-main-link.over .gnb-main-text {
  color: #008038;
  border-bottom-color: #008038;
}
.gnb-sub-wrap {
  display: none;
  position: absolute;
  top: 81px;
  left: 0;
  width: 100%;
  height: 150px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 5px solid #a6ce39;
  background-color: #fff;
  z-index: 10;
}
.gnb-main-link:focus + .gnb-sub-wrap, .gnb-main-link:hover + .gnb-sub-wrap, .gnb-main-link.over + .gnb-sub-wrap, .gnb-sub-wrap:hover {
  display: block;
}
.gnb-sub-copy {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -495px;
  font-size: 22px;
  color: #2e2e2e;
}
.gnb-sub {
  margin: 0 auto;
  padding-left: 225px;
  padding-top: 38px;
  width: 755px;
}
.gnb-sub-item {
  float: left;
  margin-left: 74px;
  font-size: 14px;
  font-weight: bold;
}
.gnb-sub-item:first-child {
  margin-left: 0;
}
.gnb-sub-link {
  display: block;
  width: 90px;
  padding-top: 65px;
  padding-bottom: 3px;
  text-align: center;
  background: url(../images/sprite_gnb.png) no-repeat;
}
.gnb-sub-link-text {
  display: inline-block;
  padding-bottom: 3px;
}
.gnb-sub-link.sub-link01-01 {
  background-position: 23px 0px;
}
.gnb-sub-link.sub-link01-02 {
  background-position: -142px 0px;
}
.gnb-sub-link.sub-link01-03 {
  background-position: -303px 0px;
}
.gnb-sub-link.sub-link02-01 {
  background-position: -462px 0px;
}
.gnb-sub-link.sub-link02-02 {
  background-position: -631px 0px;
}
.gnb-sub-link.sub-link02-03 {
  background-position: -791px 0px;
}
.gnb-sub-link.sub-link03-01 {
  background-position: -908px 0px;
}
.gnb-sub-link.sub-link03-02 {
  background-position: -1076px 0px;
}
.gnb-sub-link.sub-link03-03 {
  background-position: -1243px 0px;
}
.gnb-sub-link.sub-link03-04 {
  background-position: -1407px 0px;
}
.gnb-sub-link:focus.sub-link01-01, .gnb-sub-link:hover.sub-link01-01, .gnb-sub-link.on.sub-link01-01 {
  background-position: 23px -120px;
}
.gnb-sub-link:focus.sub-link01-02, .gnb-sub-link:hover.sub-link01-02, .gnb-sub-link.on.sub-link01-02 {
  background-position: -142px -120px;
}
.gnb-sub-link:focus.sub-link01-03, .gnb-sub-link:hover.sub-link01-03, .gnb-sub-link.on.sub-link01-03 {
  background-position: -303px -120px;
}
.gnb-sub-link:focus.sub-link02-01, .gnb-sub-link:hover.sub-link02-01, .gnb-sub-link.on.sub-link02-01 {
  background-position: -462px -120px;
}
.gnb-sub-link:focus.sub-link02-02, .gnb-sub-link:hover.sub-link02-02, .gnb-sub-link.on.sub-link02-02 {
  background-position: -631px -120px;
}
.gnb-sub-link:focus.sub-link02-03, .gnb-sub-link:hover.sub-link02-03, .gnb-sub-link.on.sub-link02-03 {
  background-position: -791px -120px;
}
.gnb-sub-link:focus.sub-link03-01, .gnb-sub-link:hover.sub-link03-01, .gnb-sub-link.on.sub-link03-01 {
  background-position: -908px -120px;
}
.gnb-sub-link:focus.sub-link03-02, .gnb-sub-link:hover.sub-link03-02, .gnb-sub-link.on.sub-link03-02 {
  background-position: -1076px -120px;
}
.gnb-sub-link:focus.sub-link03-03, .gnb-sub-link:hover.sub-link03-03, .gnb-sub-link.on.sub-link03-03 {
  background-position: -1243px -120px;
}
.gnb-sub-link:focus.sub-link03-04, .gnb-sub-link:hover.sub-link03-04, .gnb-sub-link.on.sub-link03-04 {
  background-position: -1407px -120px;
}
.gnb-sub-link:focus .gnb-sub-link-text, .gnb-sub-link:hover .gnb-sub-link-text, .gnb-sub-link.on .gnb-sub-link-text {
  color: #008038;
  border-bottom: 1px solid #008038;
}

.main {
  min-width: 1140px;
}
.main-header {
  position: relative;
  padding-top: 56px;
  min-width: 1140px;
  height: 160px;
  background-color: #666;
}
.main-header-title {
  float: left;
  font-size: 46px;
  color: #fff;
}
.main-header-copy {
  clear: left;
  float: left;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}
.main-header-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  min-width: 1140px;
}
.main-header-svg {
  fill: #fff;
}
.main-header .breadcrumb {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  color: #fff;
}
.main-header .breadcrumb-link {
  color: #fff;
}
.main .account-header {
  background: url(../images/bg_main_header01.jpg) no-repeat 50% 0;
  background-size: cover;
}
.main .apply-header {
  background-size: cover;
}
.main .notice-header {
  background-size: cover;
}
.main .mypage-header {
  background-size: cover;
}
.main-content {
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 450px;
}
.main-actions {
  padding: 46px 0;
  min-width: 1140px;
  border-top: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  text-align: center;
}

.content-header {
  margin-bottom: 50px;
}
.content-header .content-title {
  float: left;
  font-size: 46px;
}
.content-header .breadcrumb {
  float: right;
  font-size: 11px;
}

.row, .row-no-bottom {
  position: relative;
  padding-bottom: 80px;
}
.row-title {
  position: relative;
  margin-bottom: 50px;
  padding-top: 20px;
  font-size: 24px;
}
.row-title:after {
  width: 19px;
  height: 3px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a6ce39;
}
.row-no-bottom {
  padding-bottom: 0;
}
.row-msg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #666;
}
.row-header {
  margin-bottom: 10px;
  font-size: 18px;
}
.row-actions {
  float: right;
  margin-top: 10px;
}

.sidebar {
  position: absolute;
  top: 377px;
  left: 50%;
  margin-left: 536px;
}
.sidebar.fixed {
  position: fixed;
  top: 50px;
}
.sidebar-hrdb {
  width: 82px;
  height: 94px;
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 59px;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background: #fff url(../images/sprite_sidebar.png) no-repeat 50% 22px;
  overflow: hidden;
}
.sidebar-hrdb:after {
  width: 46px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  display: block;
  background-color: #d8d8d8;
}
.sidebar-status {
  width: 82px;
  height: 91px;
  display: block;
  box-sizing: border-box;
  padding-top: 60px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background: #fff url(../images/sprite_sidebar.png) no-repeat 50% -71px;
  overflow: hidden;
}
.sidebar-top {
  width: 82px;
  height: 19px;
  display: block;
  box-sizing: borer-box;
  background: #4b4b4b url(../images/sprite_sidebar.png) no-repeat 50% -162px;
  text-indent: -9999px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.footer {
  padding-top: 30px;
  min-width: 1140px;
  height: 66px;
  background-color: #2e2e2e;
}
.footer-links {
  float: left;
}
.footer-links-item {
  padding: 0 8px;
  line-height: 1;
  border-left: 1px solid #666;
  float: left;
}
.footer-links-item:first-child {
  padding-left: 0;
  border-left: 0;
}
.footer-link {
  font-size: 11px;
  color: #acacac;
}
.footer-family {
  float: right;
}
.footer-family-select {
  float: left;
  margin-right: 5px;
  width: 143px;
  height: 26px;
  color: #acacac;
  border: 1px solid #666;
  background-color: transparent;
}
.footer-family-btn {
  float: left;
  width: 45px;
  height: 26px;
  color: #acacac;
  border: 1px solid #666;
  background-color: transparent;
  cursor: pointer;
}
.footer-wamark {
  float: right;
  margin-top: -7px;
  margin-right: 14px;
}
.footer-copy {
  clear: left;
  float: left;
  margin-top: 5px;
  font-size: 10px;
  color: #acacac;
}

/*
 * popup
 */
.popup {
  position: absolute;
  top: 10%;
  left: 50%;
  padding-bottom: 20px;
  margin-left: -221px;
  width: 440px;
  border: 2px solid #2e2e2e;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.popup.popup-wide {
  width: 700px;
  margin-left: -352px;
}
.popup.popup-preview {
  width: 1037px;
  height: auto;
  margin-left: -520px;
}
.popup-title {
  padding-left: 20px;
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  color: #fff;
  background-color: #2e2e2e;
}
.popup-content {
  margin: 20px;
}
.popup-content-msg {
  line-height: 1.6;
  text-align: center;
  color: #222;
  font-weight: bold;
}
.popup-content.popup-content-preview {
  margin-right: 10px;
  padding-right: 10px;
  height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.popup-actions {
  text-align: center;
}
.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 18px;
  right: 18px;
  background: url(../images/icon_close.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  cursor: pointer;
}

.cong-msg {
  position: relative;
  margin-bottom: 50px;
  padding-top: 118px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: url(../images/icon_cong_msg.png) no-repeat 50% 19px;
}
.cong-msg:after {
  width: 26px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -27px;
  left: 50%;
  display: block;
  margin-left: -13px;
  background-color: #000;
}

.result-msg {
  margin-bottom: 24px;
  line-height: 1.7;
  color: #666;
  text-align: center;
}
.result-msg-name {
  display: block;
  margin-bottom: 10px;
  color: #222;
  font-size: 16px;
  font-weight: bold;
}

.result-overview {
  margin: 0 35px;
  padding: 30px 0 30px 35px;
  text-indent: -35px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
.result-overview-item {
  margin-top: 15px;
}
.result-overview-item:first-child {
  margin-top: 0;
}
.result-overview-item .black {
  margin-right: 13px;
}
.result-overview-div {
  margin: 30px 0 30px -35px;
  padding: 0;
  height: 0;
  border: 0;
  border-top: 1px solid #cbcbcb;
}

.interview {
  overflow: hidden;
}
.interview-left {
  float: left;
  margin-left: 25px;
  width: 260px;
}
.interview-right {
  float: right;
  width: 375px;
}
.interview-msg {
  position: relative;
  margin-bottom: 50px;
  padding-top: 118px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  background: url(../images/icon_interview_msg.png) no-repeat 50% 19px;
}
.interview-msg:after {
  width: 26px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -27px;
  left: 50%;
  display: block;
  margin-left: -13px;
  background-color: #000;
}

.change-phone {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: auto;
}

.inquiry-form {
  margin-top: 30px;
}

.pop-search-title {
  display: block;
  margin: 20px 0 10px;
  color: #222;
  font-size: 14px;
  font-weight: bold;
}
.pop-search-title:first-child {
  margin-top: 0;
}

.pop-search-result {
  border: 1px solid #CBCBCB;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.pop-search-list {
  padding: 11px;
  height: 130px;
  overflow-x: hidden;
  overflow-y: auto;
}
.pop-search-list-item {
  display: block;
  margin-bottom: 13px;
  color: #666;
}
.pop-search-list-item:hover {
  text-decoration: underline;
}

/*
 * account (login, signup...)
 */
/* account common */
.account, .account-low {
  display: block;
  margin: 0 auto;
  width: 560px;
  height: 250px;
  margin-top: 70px;
  padding: 0 100px;
  border-top: 2px solid #2e2e2e;
  border-bottom: 1px solid #d8d8d8;
}
.account-low {
  height: 154px;
  margin-top: 0;
}
.account-box {
  margin-top: 10px;
}
.account-box:after {
  content: "";
  display: block;
  clear: both;
}
.account-box:first-child {
  margin-top: 0;
}
.account-label, .account-label-pw {
  float: left;
  margin-top: 13px;
  width: 66px;
  font-weight: bold;
}
.account-label-pw {
  width: 106px;
}
.account-width01 {
  width: 116px;
}
.account-width02 {
  width: 232px;
}
.account-width03 {
  width: 368px;
}
.account-width04 {
  width: 494px;
  margin-right: 0;
}
.account-width-pw {
  width: 454px;
  margin-right: 0;
}
.account-msg {
  margin-top: 115px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.account-form-msg {
  clear: both;
  margin-left: 66px;
  padding-top: 9px;
}
.account-pw-msg {
  clear: both;
  margin-left: 106px;
  padding-top: 9px;
}
.account-actions {
  margin-bottom: 150px;
  padding-top: 30px;
  text-align: center;
}

/* login */
.account-login {
  position: relative;
  margin-top: 83px;
}
.account-login-btn {
  width: 116px;
  height: 82px;
  line-height: 82px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}

.login-action {
  width: 760px;
  margin: 35px auto 150px;
  padding-bottom: 38px;
  border-bottom: 1px solid #d8d8d8;
}
.login-action:after {
  content: "";
  display: block;
  clear: both;
}
.login-action-title {
  font-size: 12px;
  margin-bottom: 14px;
}

.login-find, .login-signup {
  width: 50%;
  height: 77px;
  float: left;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 160px;
  background: url(../images/sprite_login.png) no-repeat 68px 9px;
}

.login-signup {
  border-left: 1px solid #f4f4f4;
  background-position: 66px -135px;
}

/* find email or password */
.account-find {
  margin-top: 83px;
}

.account-find-pw {
  margin-top: 25px;
}

.account-re-pw {
  margin-top: 75px;
}

.account-close {
  margin-top: 59px;
}

/*
 * job application
 */
/* job list */
.apply-list {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #cbcbcb;
}

.apply-item {
  position: relative;
  padding: 28px 27px;
  min-height: 158px;
  transition: background .1s;
}
.apply-item-state {
  float: left;
  padding-top: 10px;
  width: 140px;
  border-top: 1px solid #acacac;
  font-size: 22px;
  font-weight: bold;
}
.apply-item-state-no {
  float: left;
  padding-top: 20px;
  width: 140px;
  border-top: 1px solid #acacac;
  color: #666;
  font-size: 22px;
}
.apply-item-state-date {
  display: block;
  margin-bottom: 9px;
  color: #b07e44;
  font-family: Georgia, serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}
.apply-item-overview {
  float: left;
  margin-left: 50px;
}
.apply-item-part {
  font-size: 16px;
  color: #666;
}
.apply-item-title {
  margin-top: 3px;
  font-size: 30px;
  font-weight: bold;
}
.apply-item-detail {
  margin-top: 8px;
  font-size: 15px;
  color: #666;
}
.apply-item-date {
  margin-top: 5px;
  color: #666;
}
.apply-item:hover {
  background-color: #f9f9f9;
}

/* job detail */
.apply-view-header {
  margin-bottom: 30px;
}

.apply-view-title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}

.apply-view-detail {
  position: relative;
}

.apply-view-item {
  padding: 25px;
  border-top: 1px solid #d8d8d8;
  overflow: hidden;
}
.apply-view-item:first-child {
  border-top: 0;
}
.apply-view-item-header {
  float: left;
  width: 240px;
}
.apply-view-item-title {
  font-size: 14px;
  font-weight: bold;
}
.apply-view-item-subtitle {
  margin: 20px 0 10px;
  font-size: 14px;
  font-weight: bold;
}
.apply-view-item-subtitle:first-child {
  margin-top: 0;
}
.apply-view-item-cont {
  float: left;
}

/* apply step */
.step {
  margin-bottom: 100px;
}

.step-item {
  float: left;
  padding-left: 31px;
  background: url(../images/bg_step_arrow.png) no-repeat 13px 50%;
}
.step-item:first-child {
  padding-left: 0;
  background: none;
}
.step-item-state {
  width: 171px;
  height: 171px;
  background: url(../images/sprite_step.png) no-repeat;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.step-item-state.on {
  background-position: -171px 0;
}
.step-item-state.on .step-item-current {
  display: block;
}
.step-item-text {
  margin-bottom: 15px;
  padding-top: 38px;
  font-family: Georgia, serif;
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
}
.step-item-num {
  font-size: 35px;
}
.step-item-current {
  display: none;
  margin: 15px auto 0;
  width: 17px;
  height: 1px;
  background-color: #222;
  text-indent: -9999px;
}

/* introduce myself in application */
.input-introduce {
  padding: 0 15px 30px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
}

.introduce {
  margin-top: 30px;
  text-align: left;
}
.introduce-title {
  margin-bottom: 10px;
  color: #222;
}

/*
 * application assist
 */
/* notice */
.notice-view-header {
  padding: 16px 15px 14px;
  border-top: 2px solid #2e2e2e;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  overflow: hidden;
}
.notice-view-title {
  float: left;
  width: 850px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
.notice-view-date {
  float: right;
  margin-top: 2px;
  font-weight: bold;
}
.notice-view-cont {
  padding: 20px;
  min-height: 350px;
  line-height: 1.4;
  border-bottom: 1px solid #d8d8d8;
}

/* faq */
.faq-search {
  margin-bottom: 50px;
  padding: 30px 76px;
  border: 1px solid #cbcbcb;
  border-top: 2px solid #a6ce39;
  background-color: #f9f9f9;
}

.faq-list {
  margin-bottom: 50px;
}
.faq-list-title {
  position: relative;
  padding: 14px 100px 14px 37px;
  height: auto;
  line-height: 1.4;
  font-size: 13px;
  background-color: #fff;
}
.faq-list-title:after {
  content: "Q";
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: bold;
  color: #b07e44;
}
.faq-list-btn {
  background-position: 100% 20px;
}
.faq-list-btn.on {
  background-position: 100% -74px;
}
.faq-list-cont {
  padding: 14px 37px;
  color: #666;
  background: url(../images/icon_faq_answer.png) no-repeat 17px 15px;
}

.faq-email {
  width: 100%;
  height: 64px;
  line-height: 64px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #cbcbcb;
  background-color: #f9f9f9;
}

/*
 * mypage
 */
.account-close-info {
  display: block;
  margin: 0 auto;
  width: 760px;
  margin-bottom: 30px;
}

/*
 * static contents pages
 */
/* static common */
.static-title {
  position: relative;
  margin-bottom: 77px;
  line-height: 1.6;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
.static-title:after {
  width: 50px;
  height: 1px;
  content: "";
  position: absolute;
  bottom: -38px;
  left: 50%;
  margin-left: -25px;
  display: block;
  background-color: #000;
}
.static-title-quo {
  font-size: 60px;
  line-height: 1;
  vertical-align: 5px;
}
.static-info {
  margin-bottom: 72px;
  text-align: center;
  line-height: 2.1;
  font-size: 16px;
}
.static-img {
  text-align: center;
}

.hrdb-process-bg {
  width: 901px;
  height: 378px;
  display: block;
  margin: 0 auto;
  position: relative;
  background: url(../images/bg_hrdb.png) no-repeat;
}
.hrdb-process-title, .hrdb-process-item01, .hrdb-process-item02, .hrdb-process-item03, .hrdb-process-item04 {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}
.hrdb-process-title {
  top: 87px;
  left: 406px;
  color: #008038;
  font-size: 18px;
}
.hrdb-process-item01 {
  top: 334px;
  left: 249px;
  color: #fff;
}
.hrdb-process-item02 {
  top: 246px;
  left: 53px;
  color: #222;
}
.hrdb-process-item03 {
  top: 334px;
  left: 512px;
  color: #fff;
}
.hrdb-process-item04 {
  top: 246px;
  left: 785px;
  color: #222;
}

.hrdb-list {
  margin-top: 22px;
  margin-left: 275px;
}

.order-list:after {
  content: "";
  display: block;
  clear: both;
}
.order-list-item01, .order-list-item02, .order-list-item03, .order-list-item04, .order-list-item05 {
  width: 171px;
  height: 57px;
  float: left;
  padding-top: 114px;
  padding-left: 31px;
  background: url(../images/sprite_process.png) no-repeat;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.order-list-item01 {
  padding-left: 0;
}
.order-list-item02 {
  background-position: -171px 0;
}
.order-list-item03 {
  background-position: -373px 0;
}
.order-list-item04 {
  background-position: -576px 0;
}
.order-list-item05 {
  background-position: -778px 0;
}

.process {
  margin-top: 60px;
  border-top: 2px solid #222;
}
.process-step {
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;
}
.process-title {
  float: left;
  margin: 46px 0;
  padding-left: 33px;
  width: 231px;
  font-size: 24px;
  line-height: 1;
}
.process-title-num {
  margin-right: 18px;
  line-height: 1;
  color: #b07e44;
  font-size: 30px;
  font-family: Georgia, serif;
  font-style: italic;
}
.process-list01, .process-list02, .process-list03, .process-list04, .process-list05 {
  float: left;
  width: 716px;
}
.process-list01 {
  margin-top: 54px;
}
.process-list02 {
  margin-top: 54px;
}
.process-list03 {
  margin-top: 27px;
}
.process-list04 {
  margin-top: 54px;
}
.process-list05 {
  margin-top: 38px;
}

.hope {
  position: relative;
  margin: 100px auto 130px;
  width: 777px;
  height: 325px;
  background: url(../images/bg_hope.png) no-repeat 50% 0;
}
.hope-title {
  position: absolute;
  top: 140px;
  left: 344px;
  font-size: 36px;
  font-weight: 900;
  color: #008038;
}
.hope-item-title01, .hope-item-title02, .hope-item-title03, .hope-item-title04 {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.hope-item-title01 {
  top: 80px;
  left: 280px;
}
.hope-item-title02 {
  top: 65px;
  left: 449px;
}
.hope-item-title03 {
  top: 230px;
  left: 274px;
}
.hope-item-title04 {
  top: 235px;
  left: 451px;
}
.hope-item-cont01, .hope-item-cont02, .hope-item-cont03, .hope-item-cont04 {
  position: absolute;
  color: #666;
  line-height: 1.6;
}
.hope-item-cont01 {
  top: 17px;
  left: 0;
}
.hope-item-cont02 {
  top: 17px;
  left: 600px;
}
.hope-item-cont03 {
  top: 186px;
  left: 0;
}
.hope-item-cont04 {
  top: 186px;
  left: 600px;
}
.hope-item-subtitle {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.leader {
  margin: 100px auto 0;
  width: 777px;
}
.leader-initial {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  height: 148px;
  padding-left: 12px;
  background: url(../images/bg_leader.png) no-repeat 50% 0;
}
.leader-initial:after {
  content: "";
  display: block;
  clear: both;
}
.leader-initial-item {
  float: left;
  margin-top: 40px;
  width: 126px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.leader-initial-text {
  font-size: 40px;
  font-weight: bold;
}
.leader-list:after {
  content: "";
  display: block;
  clear: both;
}
.leader-item {
  float: left;
  margin-left: 51px;
  width: 225px;
  height: 185px;
}
.leader-item.first {
  margin-left: 0;
}
.leader-item-title {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
  color: #222;
}
.leader-item-cont {
  color: #666;
  line-height: 1.6;
}

.policy-title {
  margin-top: 100px;
  font-size: 34px;
  text-align: center;
}
.policy-text {
  margin: 15px 0 35px;
  line-height: 1.6;
  font-size: 16px;
  text-align: center;
}

.policy-vision {
  width: 854px;
  height: 234px;
  display: block;
  margin: 0 auto;
  padding-left: 30px;
  background: url(../images/bg_policy_vision.png) no-repeat;
}
.policy-vision-item {
  float: left;
  margin-top: 97px;
  width: 207px;
  text-align: center;
  color: #008038;
  font-size: 16px;
  font-weight: bold;
}

.policy-th,
.policy-td {
  border-left: 1px solid #d8d8d8;
}
.policy-th:first-child,
.policy-td:first-child {
  border-left: 0;
}

.policy-th {
  font-size: 16px;
}

.policy-td-em {
  font-size: 16px;
  font-weight: bold;
  color: #b07e44;
  line-height: 1;
}

.policy-td-job {
  padding-top: 20px;
  vertical-align: top;
}

.policy-job-title01 {
  margin-bottom: 45px;
}

.policy-job-title02 {
  margin-bottom: 10px;
}

.policy-job-title04 {
  margin-bottom: 20px;
}

.policy-job-title05 {
  margin-bottom: 20px;
}

.policy-td-list {
  display: inline-block;
  margin: 10px 0;
  text-align: left;
}

.policy-benefit {
  margin-top: 40px;
  border-top: 2px solid #222;
}
.policy-benefit:after {
  content: "";
  display: block;
  clear: both;
}
.policy-benefit-item {
  width: 50%;
  height: 132px;
  float: left;
  border-bottom: 1px solid #d8d8d8;
}
.policy-benefit-item:after {
  content: "";
  display: block;
  clear: both;
}
.policy-benefit-item.wide {
  width: 100%;
}
.policy-benefit-title01, .policy-benefit-title02, .policy-benefit-title03, .policy-benefit-title04, .policy-benefit-title05, .policy-benefit-title06, .policy-benefit-title07 {
  float: left;
  padding-top: 43px;
  padding-left: 94px;
  width: 120px;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/sprite_policy_benefit.png) no-repeat;
}
.policy-benefit-title01 {
  background-position: 30px 46px;
}
.policy-benefit-title02 {
  background-position: 30px -91px;
}
.policy-benefit-title03 {
  background-position: 30px -227px;
}
.policy-benefit-title04 {
  background-position: 30px -364px;
}
.policy-benefit-title05 {
  background-position: 30px -502px;
}
.policy-benefit-title06 {
  background-position: 30px -639px;
}
.policy-benefit-title07 {
  background-position: 30px -767px;
}
.policy-benefit-title-en {
  display: block;
  margin-bottom: 5px;
  color: #b07e44;
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
}
.policy-benefit-list01, .policy-benefit-list02, .policy-benefit-list03, .policy-benefit-list04, .policy-benefit-list05, .policy-benefit-list06, .policy-benefit-list07 {
  float: left;
  width: 276px;
}
.policy-benefit-list01 {
  margin-top: 46px;
}
.policy-benefit-list02 {
  margin-top: 46px;
}
.policy-benefit-list03 {
  margin-top: 32px;
}
.policy-benefit-list04 {
  margin-top: 17px;
}
.policy-benefit-list04 .list-item {
  float: left;
  margin-top: 10px;
  width: 125px;
}
.policy-benefit-list04 .full-width {
  width: auto;
}
.policy-benefit-list05 {
  margin-top: 32px;
}
.policy-benefit-list06 {
  margin-top: 46px;
}
.policy-benefit-list07 {
  margin-top: 32px;
  width: 570px;
}
.policy-benefit-list07 .list-item {
  float: left;
  margin-top: 10px;
  width: 145px;
}

.hr-dev-list {
  display: block;
  margin: 0 auto;
  width: 486px;
  height: 466px;
  position: relative;
  background: url(../images/bg_hr_dev.png) no-repeat;
}
.hr-dev-list-title {
  position: absolute;
  top: 255px;
  left: 183px;
  color: #008038;
  font-size: 20px;
  font-weight: 900;
}
.hr-dev-list-item01, .hr-dev-list-item02, .hr-dev-list-item03 {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.hr-dev-list-item01 {
  top: 99px;
  left: 203px;
}
.hr-dev-list-item02 {
  top: 305px;
  left: 82px;
}
.hr-dev-list-item03 {
  top: 305px;
  left: 330px;
}
.hr-dev-list-num01, .hr-dev-list-num02, .hr-dev-list-num03 {
  position: absolute;
  line-height: 1;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
}
.hr-dev-list-num01 {
  top: -87px;
  left: 17px;
}
.hr-dev-list-num02 {
  top: -3px;
  left: -71px;
}
.hr-dev-list-num03 {
  top: -3px;
  left: 103px;
}

.hr-dev-detail {
  margin-top: 80px;
}
.hr-dev-detail-item {
  margin-top: 30px;
  border-top: 2px solid #222;
  border-bottom: 1px solid #d8d8d8;
}
.hr-dev-detail-item:after {
  content: "";
  display: block;
  clear: both;
}
.hr-dev-detail-item:first-child {
  margin-top: 0;
}
.hr-dev-detail-title01, .hr-dev-detail-title02, .hr-dev-detail-title03 {
  float: left;
  width: 267px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.hr-dev-detail-title01 {
  margin-top: 70px;
}
.hr-dev-detail-title02 {
  margin-top: 25px;
}
.hr-dev-detail-title03 {
  margin-top: 25px;
}
.hr-dev-detail-num {
  margin-bottom: 4px;
  color: #b07e44;
  font-family: Georgia, serif;
  font-size: 30px;
  font-style: italic;
}
.hr-dev-detail-list .list-item {
  float: left;
  margin-top: 0;
  margin-right: 50px;
}
.hr-dev-info {
  width: 713px;
  height: 66px;
  line-height: 66px;
  float: left;
  line-height: 66px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d8d8d8;
}
.hr-dev-cont {
  float: left;
  padding: 25px 0;
  width: 713px;
}
.hr-dev-cont-item {
  float: left;
  margin-left: 40px;
}
.hr-dev-cont-item:first-child {
  margin-left: 0;
}
.hr-dev-cont-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.jobinfo {
  position: relative;
}
.jobinfo-title01, .jobinfo-title02, .jobinfo-title03, .jobinfo-title04, .jobinfo-title05, .jobinfo-title06 {
  width: 163px;
  height: 109px;
  position: absolute;
  top: 356px;
  z-index: 10;
}
.jobinfo-title01 {
  left: 0;
  width: 165px;
}
.jobinfo-title02 {
  left: 165px;
}
.jobinfo-title03 {
  left: 328px;
}
.jobinfo-title04 {
  left: 491px;
}
.jobinfo-title05 {
  left: 654px;
}
.jobinfo-title06 {
  left: 817px;
}
.jobinfo-tab-link01, .jobinfo-tab-link02, .jobinfo-tab-link03, .jobinfo-tab-link04, .jobinfo-tab-link05, .jobinfo-tab-link06 {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding-top: 64px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: url(../images/sprite_jobinfo_tab.png) no-repeat;
}
.jobinfo-tab-link01 {
  background-position: 0px 0;
}
.jobinfo-tab-link02 {
  background-position: -164px 0;
}
.jobinfo-tab-link03 {
  background-position: -327px 0;
}
.jobinfo-tab-link04 {
  background-position: -489px 0;
}
.jobinfo-tab-link05 {
  background-position: -652px 0;
}
.jobinfo-tab-link06 {
  background-position: -815px 0;
}
.jobinfo-tab-link01.on {
  color: #222;
  background-position: 0px -111px;
}
.jobinfo-tab-link02.on {
  color: #222;
  background-position: -164px -111px;
}
.jobinfo-tab-link03.on {
  color: #222;
  background-position: -327px -111px;
}
.jobinfo-tab-link04.on {
  color: #222;
  background-position: -489px -111px;
}
.jobinfo-tab-link05.on {
  color: #222;
  background-position: -652px -111px;
}
.jobinfo-tab-link06.on {
  color: #222;
  background-position: -815px -111px;
}
.jobinfo-cont01, .jobinfo-cont02, .jobinfo-cont03, .jobinfo-cont04, .jobinfo-cont05, .jobinfo-cont06 {
  position: absolute;
  top: -9999px;
  padding-top: 525px;
}
.jobinfo-cont01.on, .jobinfo-cont02.on, .jobinfo-cont03.on, .jobinfo-cont04.on, .jobinfo-cont05.on, .jobinfo-cont06.on {
  position: static;
  top: 0;
}
.jobinfo-cont01 {
  background: url(../images/bg_jobinfo01.jpg) no-repeat;
}
.jobinfo-cont02 {
  background: url(../images/bg_jobinfo02.jpg) no-repeat;
}
.jobinfo-cont03 {
  background: url(../images/bg_jobinfo03.jpg) no-repeat;
}
.jobinfo-cont04 {
  background: url(../images/bg_jobinfo04.jpg) no-repeat;
}
.jobinfo-cont05 {
  background: url(../images/bg_jobinfo05.jpg) no-repeat;
}
.jobinfo-cont06 {
  background: url(../images/bg_jobinfo06.jpg) no-repeat;
}
.jobinfo-cont-item {
  margin-top: 50px;
}
.jobinfo-cont-item:after {
  content: "";
  display: block;
  clear: both;
}
.jobinfo-cont-item:first-child {
  margin-top: 0;
}
.jobinfo-cont-title {
  float: left;
  padding-top: 15px;
  width: 130px;
  border-top: 1px solid #acacac;
  color: #008038;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
}
.jobinfo-cont-title-small {
  display: block;
  font-size: 14px;
}
.jobinfo-cont-detail {
  float: right;
  margin-top: -5px;
  width: 815px;
  line-height: 1.7;
  color: #666;
}

.knowhow {
  position: relative;
}
.knowhow-title01, .knowhow-title02, .knowhow-title03 {
  width: 320px;
  height: 115px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.knowhow-title01 {
  left: 0;
}
.knowhow-title02 {
  left: 331px;
}
.knowhow-title03 {
  left: 661px;
}
.knowhow-tab-link01, .knowhow-tab-link02, .knowhow-tab-link03 {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding-top: 35px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  background: url(../images/sprite_knowhow_tab.png) no-repeat;
}
.knowhow-tab-link01 {
  background-position: 0px 0;
}
.knowhow-tab-link02 {
  background-position: -331px 0;
}
.knowhow-tab-link03 {
  background-position: -661px 0;
}
.knowhow-tab-link01.on, .knowhow-tab-link02.on, .knowhow-tab-link03.on {
  color: #222;
  background-position: -991px 0;
}
.knowhow-cont01, .knowhow-cont02, .knowhow-cont03 {
  position: absolute;
  top: -9999px;
  padding-top: 145px;
}
.knowhow-cont01.on, .knowhow-cont02.on, .knowhow-cont03.on {
  position: static;
  top: 0;
}
.knowhow-cont-item {
  margin-top: 80px;
  padding-top: 80px;
  border-top: 1px solid #d8d8d8;
}
.knowhow-cont-item:after {
  content: "";
  display: block;
  clear: both;
}
.knowhow-cont-item:first-child {
  margin-top: 0;
  border-top: 2px solid #222;
}
.knowhow-cont-title {
  float: left;
  padding-left: 60px;
  width: 320px;
  line-height: 1.2;
  color: #a6ce39;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -1px;
  background: url(../images/bg_knowhow_cont.png) no-repeat 0 7px;
}
.knowhow-cont-title-strong {
  color: #008038;
  font-weight: bold;
}
.knowhow-cont-detail {
  float: right;
  width: 550px;
  line-height: 1.4;
  color: #666;
  font-size: 18px;
}
.knowhow-cont-detail-strong {
  font-weight: bold;
  color: #222;
}

.intro-title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
.intro-copy {
  margin-top: 27px;
  font-size: 24px;
  text-align: center;
}
.intro-text {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}
.intro-origin {
  padding: 100px 0;
}
.intro-origin-name {
  margin: 45px auto;
  width: 681px;
}
.intro-origin-name:after {
  content: "";
  display: block;
  clear: both;
}
.intro-origin-name01 {
  width: 268px;
  height: 268px;
  line-height: 268px;
  float: left;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  background: url(../images/bg_intro_title.png) no-repeat;
}
.intro-origin-name02 {
  width: 145px;
  height: 268px;
  line-height: 268px;
  float: left;
  font-size: 59px;
  font-weight: 900;
  color: #a6ce39;
  text-align: center;
}
.intro-origin-name03 {
  width: 268px;
  height: 268px;
  line-height: 268px;
  float: left;
  text-align: center;
  color: #008038;
  font-size: 56px;
  font-weight: bold;
  background: url(../images/bg_intro_title.png) no-repeat -412px 0;
}
.intro-history {
  padding: 140px 0;
  background: url(../images/bg_intro_history.jpg) no-repeat 50% 0;
  background-size: cover;
}
.intro-history-text {
  margin-top: 85px;
  padding-top: 270px;
  background: url(../images/img_intro_history.png) no-repeat 50% 0;
}
.intro-love {
  padding: 140px 0;
  background: url(../images/bg_intro_love.jpg) no-repeat 50% 0 fixed;
  background-size: cover;
}
.intro-love-text {
  margin-top: 85px;
  padding-top: 270px;
  background: url(../images/img_intro_love.png) no-repeat 50% 0;
}
.intro-value {
  padding: 140px 0;
  background: url(../images/bg_intro_value01.png) no-repeat 50% 195px;
}
.intro-value-list {
  display: block;
  margin: 0 auto;
  margin-top: 135px;
  width: 980px;
}
.intro-value-list:after {
  content: "";
  display: block;
  clear: both;
}
.intro-value-item {
  width: 228px;
  height: 228px;
  float: left;
  margin-left: 22px;
  padding-top: 96px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  background: url(../images/bg_intro_value02.png) no-repeat 50% 0;
}
.intro-value-item:first-child {
  margin-left: 0;
}
.intro-value-item-title {
  margin-bottom: 130px;
  color: #008038;
  line-height: 1;
  font-size: 30px;
  font-weight: 900;
}
.intro-global {
  padding: 100px 0;
  background-color: #fafafa;
}
.intro-global-map {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  width: 980px;
  height: 474px;
  background: url(../images/bg_intro_global.png) no-repeat;
}
.intro-global-list-title01, .intro-global-list-title02 {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
}
.intro-global-list-title01 {
  top: 435px;
  left: 20px;
}
.intro-global-list-title02 {
  top: 458px;
  left: 20px;
}
.intro-global-list-item {
  position: absolute;
  font-weight: bold;
  text-align: center;
}
.intro-global-list-item.item01-01 {
  top: 225px;
  left: 318px;
}
.intro-global-list-item.item01-01 .detail {
  position: absolute;
  top: -62px;
  left: -72px;
}
.intro-global-list-item.item01-02 {
  top: 218px;
  left: 394px;
}
.intro-global-list-item.item01-02 .detail {
  position: absolute;
  top: -59px;
  left: 5px;
  width: 170px;
}
.intro-global-list-item.item01-03 {
  top: 205px;
  left: 708px;
}
.intro-global-list-item.item01-03 .detail {
  position: absolute;
  top: -66px;
  left: -55px;
  width: 185px;
}
.intro-global-list-item.item02-01 {
  top: 100px;
  left: 10px;
}
.intro-global-list-item.item02-02 {
  top: 166px;
  left: 41px;
}
.intro-global-list-item.item02-03 {
  top: 252px;
  left: 240px;
}
.intro-global-list-item.item02-04 {
  top: 265px;
  left: 289px;
}
.intro-global-list-item.item02-05 {
  top: 326px;
  left: 301px;
}
.intro-global-list-item.item02-06 {
  top: 297px;
  left: 363px;
}
.intro-global-list-item.item02-07 {
  top: 128px;
  left: 343px;
}
.intro-global-list-item.item02-08 {
  top: 380px;
  left: 381px;
}
.intro-brand {
  padding: 100px 0;
}
.intro-brand-slides {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 95px;
  width: 1140px;
}
.intro-brand-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.intro-brand-copy {
  margin-top: 14px;
  font-size: 16px;
  text-align: center;
}
.intro-brand-list01, .intro-brand-list02, .intro-brand-list03, .intro-brand-list04, .intro-brand-list05, .intro-brand-list06, .intro-brand-list07, .intro-brand-list08, .intro-brand-list09, .intro-brand-list10 {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 980px;
  height: 103px;
}
.intro-brand-list01 {
  background: url(../images/bg_intro_brand01.jpg) no-repeat 50% 0;
}
.intro-brand-list02 {
  background: url(../images/bg_intro_brand02.jpg) no-repeat 50% 0;
}
.intro-brand-list03 {
  background: url(../images/bg_intro_brand03.jpg) no-repeat 50% 0;
}
.intro-brand-list04 {
  background: url(../images/bg_intro_brand04.jpg) no-repeat 50% 0;
}
.intro-brand-list05 {
  background: url(../images/bg_intro_brand05.jpg) no-repeat 50% 0;
}
.intro-brand-list06 {
  background: url(../images/bg_intro_brand06.jpg) no-repeat 50% 0;
}
.intro-brand-list07 {
  background: url(../images/bg_intro_brand07.jpg) no-repeat 50% 0;
}
.intro-brand-list08 {
  background: url(../images/bg_intro_brand08.jpg) no-repeat 50% 0;
}
.intro-brand-list09 {
  background: url(../images/bg_intro_brand09.jpg) no-repeat 50% 0;
}
.intro-brand-list10 {
  background: url(../images/bg_intro_brand10.jpg) no-repeat 50% 0;
}
.intro-brand-item {
  position: absolute;
  top: -9999px;
}
.intro-brand .slidesjs-previous {
  top: 118px;
  left: 0;
  z-index: 10;
}
.intro-brand .slidesjs-next {
  top: 118px;
  right: 0;
  z-index: 10;
}
.intro-responsibility {
  padding: 100px 0;
  background-color: #fafafa;
}
.intro-res-item01, .intro-res-item02, .intro-res-item03 {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 980px;
  height: 284px;
}
.intro-res-item01 {
  margin-top: 55px;
  padding: 60px 0 0 330px;
  background: url(../images/bg_intro_responsibility01.png) no-repeat;
}
.intro-res-item02 {
  margin-top: 30px;
  padding: 50px 300px 0 0;
  background: url(../images/bg_intro_responsibility02.png) no-repeat;
}
.intro-res-item03 {
  margin-top: 30px;
  padding: 75px 0 0 330px;
  background: url(../images/bg_intro_responsibility03.png) no-repeat;
}
.intro-res-item-title {
  font-size: 30px;
  font-weight: bold;
  color: #008038;
}
.intro-res-item-text {
  margin-top: 12px;
  font-size: 22px;
  line-height: 1.3;
}

/*
 * index page
 */
/* list slide */
.slidesjs-navigation {
  position: absolute;
  width: 20px;
  height: 35px;
  background: url(../images/sprite_index_arrow.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.slidesjs-previous {
  left: -80px;
}

.slidesjs-next {
  right: -80px;
  background-position: -20px 0;
}

.slidesjs-pagination {
  margin-top: 45px;
  text-align: center;
  font-size: 0;
}

.slidesjs-pagination-item {
  display: inline-block;
  margin: 0 4px;
}
.slidesjs-pagination-item a {
  display: block;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
  background: url(../images/sprite_slide_nav.png) no-repeat;
}
.slidesjs-pagination-item a.active {
  background-position: -14px 0;
}

/* main visual */
.index-header {
  padding-top: 0;
  height: 650px;
}
.index-header-decor {
  height: 170px;
}
.index-header-decor-outer {
  fill: #fff;
}
.index-header-decor-inner {
  fill: #a6ce39;
}
.index-header-svg {
  fill: none;
}

/* notice list */
.index-notice {
  height: 52px;
  background-color: #2e2e2e;
}
.index-notice-item {
  float: left;
  line-height: 52px;
  color: #cbcbcb;
}
.index-notice-title {
  position: relative;
  margin-right: 6px;
  padding-right: 11px;
  color: #fff;
  font-weight: bold;
  border-right: 1px solid #666;
}
.index-notice-date {
  float: right;
  line-height: 52px;
  color: #cbcbcb;
}

/* section divison common */
.index-section-job {
  padding: 70px 0 50px;
}
.index-section-assist {
  padding: 110px 0 130px;
  background-color: #f0f0f0;
}
.index-section-hrdb {
  padding: 140px 0;
  background: url(../images/bg_index_hrdb.jpg) fixed 50% 0;
  background-size: cover;
}
.index-section-corp {
  padding: 70px 0 80px;
}
.index-section-title {
  font-size: 48px;
  line-height: 1;
  text-align: center;
}
.index-section-title.white {
  color: #fff;
}
.index-section-subtitle {
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
.index-section-subtitle.white {
  color: #fff;
}

/* job list */
.index-job-wrap {
  position: relative;
  margin-top: 66px;
  overflow: visible !important;
}
.index-job-wrap .slidesjs-navigation {
  top: 114px;
}
.index-job-list:after {
  content: "";
  display: block;
  clear: both;
}
.index-job-item {
  float: left;
  margin-left: 23px;
  padding-left: 22px;
  width: 210px;
  height: 264px;
  border-left: 1px dashed #d8d8d8;
}
.index-job-item:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}
.index-job-tag:after {
  content: "";
  display: block;
  clear: both;
}
.index-job-tag-item {
  float: left;
  margin-right: 5px;
  padding: 0 10px;
  height: 20px;
  line-height: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: #2e2e2e;
  border-radius: 5px;
}
.index-job-tag-item.red {
  background-color: #cf4830;
}
.index-job-tag-item.orange {
  background-color: #f47726;
}
.index-job-corp {
  margin-top: 17px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.index-job-part {
  margin-top: 3px;
  height: 52px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  overflow: hidden;
}
.index-job-date {
  margin-top: 14px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.index-job-dday {
  margin-top: 7px;
  margin-bottom: 31px;
  color: #b07e44;
  font-family: Georgia, serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

/* human resource assist */
.index-assist-list {
  margin-top: 55px;
}
.index-assist-list:after {
  content: "";
  display: block;
  clear: both;
}
.index-assist-item {
  float: left;
  margin-left: 56px;
  width: 203px;
}
.index-assist-item:first-child {
  margin-left: 0;
}
.index-assist-link01, .index-assist-link02, .index-assist-link03, .index-assist-link04 {
  display: block;
  padding-top: 247px;
  text-align: center;
  background: url(../images/sprite_index_assist.png) no-repeat;
}
.index-assist-link01:focus .index-assist-link-title, .index-assist-link01:hover .index-assist-link-title, .index-assist-link02:focus .index-assist-link-title, .index-assist-link02:hover .index-assist-link-title, .index-assist-link03:focus .index-assist-link-title, .index-assist-link03:hover .index-assist-link-title, .index-assist-link04:focus .index-assist-link-title, .index-assist-link04:hover .index-assist-link-title {
  border-bottom: 1px solid #2e2e2e;
}
.index-assist-link02 {
  background-position: -259px 0;
}
.index-assist-link03 {
  background-position: -519px 0;
}
.index-assist-link04 {
  background-position: -778px 0;
}
.index-assist-link-title {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.index-assist-link-subtitle {
  display: block;
  margin-top: 25px;
  font-size: 14px;
  line-height: 1.4;
}

/* human resource DB */
.index-hrdb-apply {
  margin: 48px auto 0;
}

/* corporation introduce */
.index-corp-wrap {
  margin-top: 80px;
  position: relative;
  overflow: visible !important;
}
.index-corp-wrap .slidesjs-navigation {
  top: 20px;
}
.index-corp-list:after {
  content: "";
  display: block;
  clear: both;
}
.index-corp-item {
  float: left;
  margin: 0 10px;
  width: 120px;
  height: 76px;
  background: url(../images/sprite_corp.png) no-repeat;
  text-indent: -9999px;
}
.index-corp-item.exofresh {
  background-position: 0 0;
}
.index-corp-item.on.exofresh {
  background-position: 0 -76px;
}
.index-corp-item.greenche {
  background-position: -120px 0;
}
.index-corp-item.on.greenche {
  background-position: -120px -76px;
}
.index-corp-item.nokjeup {
  background-position: -240px 0;
}
.index-corp-item.on.nokjeup {
  background-position: -240px -76px;
}

/* bottom navigation */
.index-bottom {
  padding: 60px 0 80px;
  background-color: #f0f0f0;
}
.index-bottom:after {
  content: "";
  display: block;
  clear: both;
}
.index-bottom-logo {
  float: left;
}

.index-allnav {
  float: right;
}
.index-allnav:after {
  content: "";
  display: block;
  clear: both;
}
.index-allnav-cate {
  float: left;
  margin-left: 85px;
}
.index-allnav-cate:first-child {
  margin-left: 0;
}
.index-allnav-cate-title {
  font-size: 16px;
  font-weight: bold;
}
.index-allnav-sub {
  margin-top: 30px;
}
.index-allnav-sub-item {
  margin-top: 17px;
}
.index-allnav-sub-item:first-child {
  margin-top: 0;
}
.index-allnav-sub-link {
  color: #666;
}

/* quick link sidebar in index */
.index-sidebar {
  top: 836px;
}

/*
 * specific style
 */
.blind {
  position: absolute;
  width: 0;
  height: 0;
  top: -9999px;
}

.em {
  font-style: normal;
  font-weight: bold;
  color: #b07e44;
}

.strong {
  color: #008038;
  font-weight: bold;
}

.black {
  color: #222;
}

.white {
  color: #fff;
}

.check-length {
  clear: both;
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
