@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 12px;
  color: #222;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #222;
  text-decoration: none;
}

select, input, button, textarea {
  font-family: "Nanum Gothic", dotum, sans-serif;
  font-size: 12px;
  color: #222;
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

/*
 * common components
 */
/* toggle box common */
.toggle-box.first, .toggle-box:first-child {
  border-top: 2px solid #333;
}
.toggle-box-title {
  height: 39px;
  line-height: 39px;
  position: relative;
  display: block;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}
.toggle-box-action {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  border: 0;
  background: transparent url(../images/sprite_arrow.png) no-repeat 100% 17px;
  cursor: pointer;
}
.toggle-box-action.on {
  background-position: 100% -77px;
}
.toggle-box-content {
  display: none;
  border-bottom: 1px solid #eee;
}
.toggle-box-content.on {
  display: block;
}

/* list common */
.list-item {
  position: relative;
  margin-top: 5px;
  padding-left: 6px;
  line-height: 1.2;
}
.list-item:first-child {
  margin-top: 0;
}
.list-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #a6ce39;
}

/*
 * common button
 */
.btn, .btn-green, .btn-gray {
  width: 75px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  background: #333;
  border: 0;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
}
.btn-green {
  color: #222;
  background-color: #a6ce39;
}
.btn-gray {
  color: #fff;
  background-color: #666;
}
.btn:first-child, .btn-green:first-child, .btn-gray:first-child {
  margin-left: 0;
}
.btn:last-child, .btn-green:last-child, .btn-gray:last-child {
  margin-right: 0;
}

/*
 * common form
 */
/*
 * layout
 */
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 44px;
  position: relative;
  border-bottom: 1px solid #cbcbcb;
}
.header .logo {
  float: left;
  margin-top: 14px;
  margin-left: 14px;
}
.header .logo-img {
  width: 54px;
  display: block;
}
.header-util {
  float: right;
}
.header-util-login {
  width: 30px;
  height: 44px;
  float: left;
  text-indent: -9999px;
  background: url(../images/icon_lock.png) no-repeat 50% 50%;
  background-size: 13px;
}
.header-util-tg-gnb {
  width: 44px;
  height: 44px;
  position: relative;
  float: left;
  padding: 0;
  border: 0;
  background: none;
  z-index: 10;
}
.header-util-tg-gnb-text {
  width: 17px;
  height: 3px;
  position: absolute;
  top: 21px;
  left: 13px;
  text-indent: -9999px;
  background-color: #333;
}
.header-util-tg-gnb:before, .header-util-tg-gnb:after {
  width: 17px;
  height: 3px;
  content: "";
  position: absolute;
  top: 15px;
  left: 13px;
  display: block;
  background-color: #333;
}
.header-util-tg-gnb:after {
  top: 27px;
}
.header-util-tg-gnb.on {
  background-color: #a6ce39;
}

.gnb {
  width: 100%;
}
.gnb-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  padding-right: 44px;
}
.gnb-wrap.on {
  display: block;
}
.gnb-item {
  float: left;
  width: 25%;
  height: 44px;
}
.gnb-item:first-child .gnb-main-link {
  border-left: 0;
}
.gnb-main-link {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 44px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-left: 1px solid #444;
  background-color: #333;
}

.main {
  position: relative;
  background-color: #eee;
}
.main-header {
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #333;
}
.main-content {
  box-sizing: border-box;
  padding: 10px;
}
.main-actions {
  margin-top: 12px;
  text-align: center;
}

.footer {
  height: 68px;
  background-color: #222;
}
.footer-util {
  padding-top: 20px;
  font-size: 0;
  text-align: center;
}
.footer-util-item {
  display: inline-block;
  height: 13px;
}
.footer-util-item:first-child .footer-link {
  margin-left: 0;
  padding-left: 0;
}
.footer-util-item:first-child .footer-link:after {
  display: none;
}
.footer-link {
  position: relative;
  display: block;
  margin-left: 10px;
  padding-left: 10px;
  height: 13px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.footer-link:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 1px;
  height: 7px;
  background-color: #666;
}
.footer-copy {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  color: #666;
}

.round-box {
  display: block;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.round-box:first-child {
  margin-top: 0;
}
.round-box.no-padding {
  padding: 0;
}

.row {
  position: relative;
  padding-bottom: 15px;
}
.row-header {
  margin-bottom: 5px;
  font-size: 12px;
}

/*
 * popup
 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.popup-title {
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  text-align: center;
  background-color: #a6ce39;
}
.popup-title.black {
  color: #fff;
  background-color: #222;
}
.popup-content {
  box-sizing: border-box;
  height: calc(100% - 44px);
  padding: 10px;
  overflow: auto;
  background-color: #eee;
  -webkit-overflow-scrolling: touch;
}
.popup-content-box {
  padding: 20px 15px;
}
.popup-close {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/icon_close.png) no-repeat 50% 50%;
  background-size: 15px;
  text-indent: -9999px;
  border: 0;
}
.popup-close.white {
  background-image: url(../images/icon_close_white.png);
}
.popup-infomsg {
  margin-top: 30px;
  line-height: 1.6;
  text-align: center;
}
.popup-infomsg-name {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.popup-detail {
  margin-top: 45px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
.popup-detail-item {
  padding: 25px 10px;
  border-top: 1px solid #cbcbcb;
}
.popup-detail-item:first-child {
  border-top: 0;
}
.popup-detail-msg {
  margin-top: 5px;
  padding-left: 30px;
  text-indent: -30px;
  line-height: 1.2;
}
.popup-detail-msg:first-child {
  margin-top: 0;
}
.popup-detail-msg .black {
  margin-right: 5px;
}

.terms-page {
  padding: 0;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.8;
}
.terms-heading {
  font-size: 12px;
}
.terms-list {
  padding: 0 0 0 15px;
}
.terms-num {
  margin: 0 0 0 -15px;
}

.privacy-page {
  padding: 0;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.8;
}
.privacy-heading-1 {
  font-size: 12px;
}
.privacy-heading-2 {
  margin: 10px 0 0 10px;
  font-size: 12px;
  font-weight: bold;
}
.privacy-paragraph {
  margin: 10px 0 0 10px;
}
.privacy-paragraph.first {
  margin: 0;
}
.privacy-list {
  margin: 5px 0 0 10px;
  padding: 0 0 0 7px;
}
.privacy-num {
  margin: 0 0 0 -7px;
}
.privacy-table {
  margin: 10px auto 0;
}

/*
 * job list
 */
.job-item-part {
  margin: 8px 8px 0;
  font-size: 11px;
}
.job-item-part-corp {
  position: relative;
  margin-right: 5px;
  padding-right: 6px;
}
.job-item-part-corp:after {
  width: 1px;
  height: 9px;
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  display: block;
  background: #cbcbcb;
}
.job-item-title {
  margin: 7px 8px 0;
  font-weight: bold;
  color: #008038;
}
.job-item-subtitle {
  margin: 7px 8px 0;
  font-weight: bold;
}
.job-item-date {
  margin: 7px 8px 0;
}
.job-item-bottom {
  margin-top: 14px;
  padding: 8px;
  height: 25px;
  background: #f9f9f9;
}
.job-item-bottom:after {
  content: "";
  display: block;
  clear: both;
}
.job-item-state-dday {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  color: #b07e44;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
}
.job-item-state-dday-unit {
  float: left;
  width: 24px;
  height: 20px;
  text-indent: -9999px;
  background: url(../images/bg_dday.png) no-repeat;
  background-size: 100%;
}
.job-item-state-current {
  float: left;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
}
.job-item-actions {
  float: right;
  font-size: 0;
}

/* job detail */
.apply-view-header {
  margin: 10px 0 20px;
}

.apply-view-title {
  margin-bottom: 10px;
  color: #008038;
  font-size: 16px;
  font-weight: bold;
}

.apply-view-detail {
  position: relative;
}

.apply-view-item {
  padding: 15px 10px;
  border-top: 1px solid #cbcbcb;
  overflow: hidden;
}
.apply-view-item:first-child {
  border-top: 0;
}
.apply-view-item-header {
  float: left;
  width: 70px;
}
.apply-view-item-title {
  font-weight: bold;
}
.apply-view-item-subtitle {
  margin: 10px 0 7px;
  font-weight: bold;
}
.apply-view-item-subtitle:first-child {
  margin-top: 0;
}
.apply-view-item-cont {
  float: left;
  width: calc(100% - 70px);
}

/*
 * applied job
 */
.applied-item-bottom {
  margin-top: 14px;
  padding: 8px;
  height: 25px;
  background: #f9f9f9;
}
.applied-item-bottom:after {
  content: "";
  display: block;
  clear: both;
}
.applied-item-state {
  float: left;
  margin-top: 6px;
  font-size: 11px;
}
.applied-item-state-current {
  position: relative;
  float: left;
  margin-right: 5px;
  padding-right: 5px;
  color: #b07e44;
  font-weight: bold;
}
.applied-item-state-current:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: 7px;
  background-color: #cbcbcb;
}
.applied-item-state-date {
  float: left;
}
.applied-item-actions {
  float: right;
  font-size: 0;
}

.no-applied-list {
  margin: 150px 0;
  text-align: center;
}

/*
 * notice
 */
.notice-list-link {
  display: block;
  padding: 0 12px;
}
.notice-list-title {
  font-weight: bold;
}
.notice-list-date {
  display: block;
  margin-top: 3px;
  color: #acacac;
}

.notice-view {
  position: relative;
  padding-bottom: 30px;
}
.notice-view-title {
  padding: 15px 10px;
  line-height: 1.4;
  font-size: 12px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #cbcbcb;
  background-color: #f9f9f9;
}
.notice-view-date {
  position: absolute;
  bottom: 10px;
  left: 8px;
  box-sizing: border-box;
  width: calc(100% - 16px);
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #cbcbcb;
}
.notice-view-cont {
  padding: 10px;
  min-height: 200px;
  line-height: 1.4;
}

/*
 * faq
 */
.faq-list-link {
  display: block;
  padding-left: 38px;
  line-height: 1.4;
  font-weight: bold;
  background: #fff url(../images/bg_faq_q.png) no-repeat 16px 9px;
  background-size: 13px;
}
.faq-list-answer {
  display: none;
  padding-left: 30px;
  line-height: 1.4;
  background: #fff url(../images/bg_faq_a.png) no-repeat 17px 11px;
  background-size: 7px;
}
.faq-list-answer.on {
  display: block;
}
.faq-item {
  margin-top: 5px;
}
.faq-item:first-child {
  border: 0;
}

/*
 * index page
 */
.index {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 368px;
  background-color: #eee;
}
.index-visual {
  box-sizing: border-box;
  height: 252px;
  height: calc(100% - 158px);
  background: url(../images/bg_visual.jpg) no-repeat 50% 0;
  background-size: cover;
}
.index-visual-copy {
  margin-left: 25px;
  padding-top: 25px;
}
.index-visual-heading {
  font-size: 15px;
  color: #fff;
}
.index-visual-text {
  margin-top: 5px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3;
  color: #fff;
}
.index-menu {
  padding: 4px;
}
.index-menu:after {
  content: "";
  display: block;
  clear: both;
}
.index-menu-item01 {
  float: left;
  box-sizing: border-box;
  padding-right: 4px;
  width: 50%;
  height: 150px;
}
.index-menu-item02 {
  float: left;
  box-sizing: border-box;
  padding-bottom: 2px;
  width: 50%;
  height: 75px;
}
.index-menu-item03 {
  float: left;
  padding-top: 2px;
  padding-right: 2px;
  box-sizing: border-box;
  width: 25%;
  height: 75px;
}
.index-menu-item04 {
  float: left;
  box-sizing: border-box;
  padding-top: 2px;
  padding-left: 2px;
  width: 25%;
  height: 75px;
}
.index-menu-link01, .index-menu-link02, .index-menu-link03, .index-menu-link04 {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.index-menu-link01 {
  padding-top: 100px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  border: 1px solid #9bc527;
  background: #a7d231 url(../images/icon_list.png) no-repeat 50% 30px;
  background-size: 47px;
}
.index-menu-link02 {
  padding-top: 50px;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  border: 1px solid #0c8832;
  background: #0f9237 url(../images/icon_my_apply.png) no-repeat 50% 10px;
  background-size: 44px;
}
.index-menu-link03 {
  padding-top: 50px;
  font-size: 12px;
  font-weight: 900;
  border: 1px solid #d5d5d5;
  background: #fff url(../images/icon_notice.png) no-repeat 50% 12px;
  background-size: 19px;
}
.index-menu-link04 {
  padding-top: 50px;
  font-size: 12px;
  font-weight: 900;
  border: 1px solid #d5d5d5;
  background: #fff url(../images/icon_faq.png) no-repeat 50% 16px;
  background-size: 23px;
}

/*
 * login page
 */
.login {
  position: relative;
  margin: 45px 22px 0;
}
.login-input {
  box-sizing: border-box;
  padding: 0 10px;
  width: 66%;
  height: 35px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  font-weight: bold;
}
.login-input:first-child {
  margin-bottom: 5px;
}
.login-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 32%;
  height: 75px;
  border-radius: 5px;
  background-color: #a6ce39;
  border: 0;
  font-weight: bold;
}
.login-info {
  margin-top: 20px;
  text-align: center;
}

/*
 * specific style
 */
.blind {
  position: absolute;
  width: 0;
  height: 0;
  top: -9999px;
}

.em {
  font-style: normal;
  font-weight: bold;
  color: #b07e44;
}

.strong {
  color: #008038;
  font-weight: bold;
}

.black {
  color: #222;
}

/*# sourceMappingURL=style.css.map */
